<div>
  <mat-card>
    <mat-card-header>
      <h2>  
        <strong>
          Créer une récompense
        </strong>
      </h2>
    </mat-card-header>

    <form [formGroup]="rewardFormGroup" (submit)="save()"
          *ngIf="rewardFormGroup">

      <ng-container *ngFor="let field of rewardForm.fields; index as i">
        <app-form-field [formControlField]="rewardFormGroup.get(field.formControlField)"
                        [label]="field.label"
                        [dataType]="field.dataType"
                        [fileUploadParams]="field.fileUploadParams"
                        (changed)="changeHandler($event, field.formControlField)"
                        [errors]="field.errors"
                        [fieldComponentType]="field.fieldComponentType">
        </app-form-field>
      </ng-container>

      <app-file-upload [fileType]="'image'" [submitted]="submitted" [fileFormGroup]="rewardFormGroup.get('thumbnail_media')" (fileUploadChange)="fileUploadChange($event, 'thumbnail_media')"></app-file-upload>

      <div class="d-flex justify-content-end align-items-center mt-5">
        <a class="mr-5 font-weight-bold" mat-button color="warn" routerLink="/account/rewards">Retour</a>
        
        <button mat-raised-button color="primary" type="submit"><b>Enregistrer</b></button>
      </div>
    </form>

  </mat-card>
</div>
