<p>
  modal-reward works!
</p>

<div>
  <mat-form-field appareance="outline" class="w-100">
    <mat-label>Veux tu partiper au tirage sort hebdomadaire ?</mat-label>
    <input matInput name="want" />
  </mat-form-field>
  <div>
    {{campaign.thanks_message}}
  </div>
  <div>
    <mat-form-field appareance="outline" class="w-100">
      <mat-label>Inscrit-toi</mat-label>
      <input matInput name="want" />
    </mat-form-field>
    <mat-form-field appareance="outline" class="w-100">
      <mat-label>Veux tu partiper au tirage sort hebdomadaire ?</mat-label>
      <input matInput name="want" />
    </mat-form-field>
    <mat-form-field appareance="outline" class="w-100">
      <mat-label>Veux tu partiper au tirage sort hebdomadaire ?</mat-label>
      <input matInput name="want" />
    </mat-form-field>
    Maintenant tu peux participer au concour que j'organise avec Etip pour récompenser mes donnateur comme toi. Il te suffit
    de t'inscrire avec ton email et ton numéro de telephone
  </div>
</div>
