<div>

  <div>
    <h3>Mentions légales</h3>
  </div>
  <div>
    <h4>1. Le Site</h4>
    <br>
    <p>
      Etip.com est la propriéte exclusive de etip sas Stasbourg<br> 
      Société e-tip base au 120 Rue du général de Gaulle à Strasbourg Hebrgeur: Amazon Web Service <br>
      Directeur de publication: Fatih Turhan, f.turhan@etip.com
    </p>
    <br>
    <h4>Conditions général d'utilisation</h4>
    <br>
    <p>
      En naviguant sur etip.com, vous acceptez nos conditions générales d’utilisation décrites ci-après. Ces conditions d’utilisation
      sont susceptibles d'évolué à tout moment, ainsi les utilisateurs sont donc invités à les consulter régulièrement.
      <br> Ce site est accessible à tout moment aux utilisateurs. Des interruptions en raison de maintenance technique peuvent
      être prévus, mais etip.com s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
      <br> Le présent site est régulièrement mis à jour de la même façon que les mentions légales. Les utilisateurs sont donc
      invités à y naviguer régulièrement afin de faire connaissance avec les nouvelles fonctionnalités
    </p>
    <br> 
    <h4>3. Description des services fournis.</h4>
    <p>
      Le présent site à pour objet de fournir une information concernant l’ensemble des
      activités de la société. uTip s’efforce de fournir sur le site utip.io des informations aussi précises que possible.
      Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour,
      qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. Tous les informations
      indiquées sur le site utip.io sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements
      figurant sur le site utip.io ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées
      depuis leur mise en ligne.
    </p>
  </div>
</div>
