<div>
  <mat-card class="p-5">
    <mat-card-header>
      <h2 class="mb-3">
        <strong>
          Créer un tirage au sort
        </strong>
      </h2>
    </mat-card-header>
    <mat-card-content class="p-2">
      <form [formGroup]="raffleFormGroup"
            (submit)="save()"
            *ngIf="raffleFormGroup">

        <ng-container *ngIf="rewardOptionTemplate">
          <ng-container *ngFor="let field of raffleForm.fields; index as i">
            <app-form-field [formControlField]="raffleFormGroup.get(field.formControlField)"
                            [label]="field.label"
                            [dataType]="field.dataType"
                            [dateParams]="field.dateParams"
                            [fileUploadParams]="field.fileUploadParams"
                            [multipleValueParams]="field.multipleValueParams"
                            (changed)="changeHandler($event, field.formControlField)"
                            [fieldComponentType]="field.fieldComponentType"
                            [submitted]="submitted"
                            [errors]="field.errors"
                            *ngIf="!field.content">
            </app-form-field>
          </ng-container>
        </ng-container>

        <div class="mt-3">
          <app-rewards-selector [rewardsFormArray]="raffleFormGroup.get('rewards')"
          (rewardsChange)="handleRewardsChange($event)"></app-rewards-selector>
        </div>

        <!-- <div class="alert alert-warning" *ngIf="submitted || hasError">
          Le formulaire contient une erreur
        </div> -->

        <div class="d-flex justify-content-end align-items-center mt-5">
          <a class="mr-5 font-weight-bold"
             mat-button
             color="warn"
             routerLink="/account/rewards">Retour</a>

          <button mat-raised-button
                  color="primary"
                  type="submit"><b>Enregistrer</b></button>
        </div>
      </form>
    </mat-card-content>
    <!-- 
    <ng-container *ngTemplateOutlet="getRewardsTemplate()">
    </ng-container> -->
  </mat-card>
</div>

<ng-template #rewardOptionTemplate
             let-field>

</ng-template>
