<mat-card>
  <mat-card-title>
    {{ hideForm ? 'Connexion en cours' : 'Connectez-vous' }}
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm">


      <div class="alert alert-warning"
           *ngIf="incorrectPasswordAlert">
        Les informations fournies ne nous ont pas permis de vous identifier. Veuillez réessayer.
        <!-- vérifié -->
      </div>
      <div class="alert alert-warning"
           *ngIf="inactiveMailAlert">
        Ce compte requière une activation. Si vous n'avez pas reçu le mail d'activation,
        <a (click)="resendActivationMail()" class="font-weight-bold cursor-pointer a-underline">cliqué ici</a>
        <!-- Vérifié -->
      </div>

      <div *ngIf="!hideForm">
        <mat-form-field class="w-100"
                        [appearance]="matFormFieldType">
          <mat-label>Email</mat-label>
          <input matInput
                 formControlName="email">
          <mat-error *ngIf="hasError(loginEmail, 'required')">Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100"
                        [appearance]="matFormFieldType">
          <mat-label>Mot de passe</mat-label>
          <input matInput
                 formControlName="password"
                 type="password">
          <mat-error *ngIf="hasError(loginPassword, 'required')">Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="remember_me"
                      color="primary">Se souvenir de moi</mat-checkbox>


        <a class="mb-3 float-right cursor-pointer"
           id="forget-password"
           routerLink="/auth/reset-password-request">J'ai oublié mon mot de passe</a>
        <button mat-raised-button
                class="w-100 mt-2 mb-2 back-gradient-orange"
                (click)="login()">Se connecter</button>
        <a class="mt-2"
           class="cursor-pointer"
           mat-button
           routerLink="/auth/register">Pas encore inscris ?</a>
      </div>

      <div>
        <mat-spinner *ngIf="hideForm" class="mt-5 mx-auto"></mat-spinner>
      </div>

    </form>

  </mat-card-content>
</mat-card>

<!-- <p>
    <mat-form-field>
      <input matInput placeholder="Placeholder">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p> -->
