<h2 mat-dialog-title class="personnal-font">{{ title ? title: 'Confirmer les modifications'}}</h2>
<div mat-dialog-content class="personnal-font">

  <p *ngIf="!message">Vous avez modifié vos informations personnelles, voulez-vous les sauvegarder ?</p>
  <p *ngIf="message">{{message}}</p>
  <div *ngIf="isPayout && possiblePayoutProfile.has_bank && possiblePayoutProfile.has_paypal">
    Si oui choississez votre mode de reception:
    <div class="custom-btn-container d-flex personnal-font c-white">
      <div [ngClass]="{'back-orange': isPayoutToBank(), 'bg-secondary': !isPayoutToBank()}" class="p-3 w-50 d-flex" (click)="responseObject.dest = 'bank'">
        <b class="d-flex m-auto font-weight-bold personnl-font">
          Virement bancaire
        </b>
        <i class="material-icons float-right" [hidden]="!isPayoutToBank()">
          check_circle
        </i>
      </div>
      <div [ngClass]="{'bg-secondary': !isPayoutToPaypal(), 'back-orange': isPayoutToPaypal()}" class="p-3 w-50 d-flex" (click)="responseObject.dest = 'paypal'" >
        <b class="d-flex m-auto">
          Virement paypal
        </b>
        <i class="material-icons float-right" [hidden]="!isPayoutToPaypal()">
          check_circle
        </i>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button class="cancel-button personnal-font font-weight-bold" mat-dialog-close>Annuler</button>
  <button mat-button class="save-button personnal-font font-weight-bold" [mat-dialog-close]="save()">Enregistrer</button>
</mat-dialog-actions>
