@import "../../variables.scss";


.custom-btn-container {
    // width: 450px;

    .active *, .bg-success * {
        // background-color: red;
        color: white;
    }
    .inactive *, .bg-light *, .bg-secondary *{
        // background-color: grey;
        color: white;

    }
}

mat-dialog-actions {

    .save-button {
        background-color: $orange;
        color:  white;
        font-size: 1.1rem;
        
    }
    
    .cancel-button {
        background-color: red;
        color: white;
        font-size: 1.1rem;
        
    }
}