<mat-card>
  <mat-card-title>
    Créez votre compte
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="registerForm">

      <div class="alert alert-info hidden"
           *ngIf="createdAccountAlert">
        Compre créé avec succes. Un mail de confirmation vous a été envoyé. Cliquer sur le lien qu'il contient pour
        confirmer votre
        adresse email.
      </div>
      <div class="alert alert-warning hidden"
           *ngIf="registerErrorAlert">
        La création de votre compte à echoué.
      </div>
      <mat-form-field class="w-100"
                      [appearance]="matFormFieldType">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email" />
        <mat-error *ngIf="!!registerEmail?.errors?.required">Ce champ est requis</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100"
                      [appearance]="matFormFieldType"
                      *ngIf="registerForm.get('is_creator').value">
        <mat-label>Pseudonyme</mat-label>
        <input matInput
               formControlName="username" />
        <mat-error *ngIf="hasError(registerUsername, 'required')">Ce champ est requis</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100"
                      [appearance]="matFormFieldType">
        <mat-label>Mot de passe</mat-label>
        <input matInput
               type="password"
               formControlName="password" />
        <mat-error *ngIf="hasError(registerPassword, 'required')">Ce champ est requis</mat-error>
        <mat-error *ngIf="hasError(registerPassword, 'pattern')">Le mot de passe doit contenir 6 caractère minimum,
          des chiffres et des lettres</mat-error>

      </mat-form-field>

      <mat-form-field class="w-100 mb-3"
                      [appearance]="matFormFieldType">
        <mat-label>Confirmer votre mot de passe</mat-label>
        <input matInput
               type="password"
               formControlName="password_confirm" />
        <mat-error *ngIf="hasError(registerPasswordConfirm, 'required')">Ce champ est requis</mat-error>
        <mat-error *ngIf="hasError(registerPasswordConfirm, 'pattern')">Le mot de passe doit contenir 6 caractère
          minimum, des chiffres et des lettres</mat-error>
        <mat-error *ngIf="hasError(registerPasswordConfirm, 'passwordConfirm')">Les mots de passe ne correspondent
          pas</mat-error>
      </mat-form-field>

      <app-choices-button [onTrue]="'Je suis annonceur'"
                          [onFalse]="'Je suis createur'"
                          [isTrue]="true"
                          (changed)="switchUserType($event)">
      </app-choices-button>

      <div *ngIf="!loading">
        <button mat-raised-button
                class="w-100 mt-3 mb-3 back-gradient-orange"
                (click)="createAccount()"
                type="submit">Créer un compte</button>
        <a class="mt-3 cursor-pointer"
           mat-button
           routerLink="/auth/login">Vous êtes déjà inscris ? Connectez-vous</a>
      </div>

      <app-loading-spinner *ngIf="loading"></app-loading-spinner>

    </form>

  </mat-card-content>

</mat-card>
