   // background-size: auto 100%;
   // overflow: hidden;

   .background-container {
     background-image: url('/assets/statics/stephen1_.jpg');
     background-size: cover;
     // background-repeat: no-repeat;
     // min-height: 580px;
     // height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     z-index: -1;
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
   }

   .form-container {
     position: relative;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     z-index: 10;
     width: 450px;
     margin: auto;
     // display: flex;
     // flex-direction: column;
     // justify-content: center;





   }

   :host {
     display: flex;
     flex-direction: column;
     flex: 1;
     height: 100vh;
   }
