<div>

  <div class="row w-100">
    <h5 class="col-8 strong">
      List des récompenses incluse
    </h5>

    <a class="col-4 text-right text-primary" (click)="showRewardModal()">Créer une nouvelle récompense</a>

  </div>

  <mat-form-field class="w-100"
                  [appearance]="'fill'">
    <mat-label>Ajouter une ou plusieurs récompenses</mat-label>

    <input placeholder="Exemple: T-shirt "
           #input
           matInput
           [formControl]="rewardControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete"
                      (optionSelected)="selectReward($event.option.value)"
                      [displayWith]="displayFn">
      <mat-option *ngFor="let elt of filteredRewards | async"
                  [value]="elt">
        <img [src]="elt.thumbnail_media.file"
             width="80" />
        <span> {{elt.name}} : {{elt.quantity}} unité </span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngFor="let reward of rewardsFormArray.controls; index as i"
       class="d-flex w-100">

    <div class="row align-items-center w-100">
      <div class="col-3">
        <img [src]="rewardsMap[rewardsFormArray.get([i, 'reward']).value].thumbnail_media.file"
             width="80">
      </div>
      <div class="col-4">
        {{rewardsMap[rewardsFormArray.get([i, 'reward']).value].name}}
      </div>
      <mat-form-field [appearance]="'fill'"
                      class="col-4">
        <mat-label>Quantité</mat-label>
        <input matInput
               placeholder="Quantité"
               [formControl]="rewardsFormArray.get([i, 'quantity'])">
      </mat-form-field>

      <div class="col-1">
        <button mat-icon-button
                (click)="removeRewardFromRaffle(i)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>