<div class="bg-dark p-2 flex-shrink-1" id="footer-container">

  <div class="d-flex">
    <div class="col text-white text-center " *ngIf="!authService.isAuthenticated()">
      <a class="cursor-pointer" routerLink="/register">S'inscrire !</a>
    </div>
    <!-- <div class="col text-white text-center">
        <a class="cursor-pointer ">Qui sommes-nous ?</a>
    </div> -->
    <!-- <div class="col text-white text-center">
        <a class="cursor-pointer">Charte des utilisateurs</a>
    </div> -->
    <div class="col text-white text-center"
      >
      <a class="cursor-pointer">Mentions légales</a>
    </div>

    <div class="col text-white">
      Une question ? <a (click)="scrollToContact(null)">Contacter nous</a>
    </div>
  </div>

</div>
