@import '../../../variables.scss';

mat-toolbar {
    background: #2c3e50;
    height: 50px;
    color:  #FF5722;
    > a {
        font-size: 20px;
        font-weight: bold;
    }
    a {
        &:hover {
            color: white;
        }
    }
    i {
        font-size: 38px;
        font-weight: bold;

        
    }

    .user-part {
        flex-direction: row-reverse;

    }

}
#menu-container {
    // position: absolute;
    // z-index: 1000;
    // opacity: 0.5;

    border-top: solid 3px $orange;

    transition-property: opacity;
    transition-duration: 2000ms;
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
    // transition-delay: 2000ms;
    z-index: 100000;
    box-shadow: black 0 0 8px 2px;
    &:hover {
        // opacity: 0.8;
    }
}

.receive-payment-button {
    // background-color: @orange;
    // color: white;
    // font-size: 18px;
    // vertical-align: middle;
    // align-self: center;
    font-weight: 600;
    &.btn-disabled {
        // background-color: gray;
        color: rgba(255, 87, 34, 0.49);
    }
}