<div [ngSwitch]="showMenuType"
     id="menu-container"
     class="fixed-top">

  <mat-toolbar class="w-100 d-flex"
               *ngSwitchCase="'accountMenu'"
               id="account-menu">
    <button mat-button
            #menuIcon
            (click)="toggle()"
            *ngIf="showSideNavBtn"><i class="material-icons md-36 md-dark">{{isMenuOpenedIcon()}}</i></button>
    <div>
      <h2 class="c-orange font-weight-bold">
        {{title}}
      </h2>
    </div>
    <div class="float-right w-100 d-inline-flex justify-content-end align-items-center">
      <button mat-button
              *ngIf="currentUser?.is_creator"
              class="c-orange font-weight-bold title-4 receive-payment-button"
              matTooltip="{{balanceIsEnough() ? 'Récuperer votre solde': 'Seuil de paiement minimum de 45 €'}}"
              [ngClass]="{'btn-disabled': !balanceIsEnough() }">
        {{currentBalance | currency: 'EUR': 'symbol': '1.2-2': 'fr'}}
      </button>

      <span mat-button
            *ngIf="currentUser?.is_announcer"
            class="c-orange font-weight-bold title-4 receive-payment-button"
            matTooltip="Solde actuellement disponible sur votre compte">
        {{currentBalance | currency: 'EUR': 'symbol': '1.2-2': 'fr'}}
      </span>
      <!-- <button mat-raised-button id="receive-payment-button" (click)="openDialg()" class="title-4" [ngClass]="{'btn-disabled': !balanceIsEnough() }"
        disabled="{{!balanceIsEnough()}}">Récuperer</button> -->
      <!-- <mat-icon class="c-orange font-weight-bold float-right">get_app</mat-icon> -->
    </div>
    <div class="d-flex w-100 float-right user-part">
      <button mat-button
              class="float-right p-1"
              matTooltip="{{tooltipLogout}}"
              (click)="logout()"><i class="material-icons md-36 md-dark"
           *ngIf="isAuthenticated">power_settings_new</i></button>
      <button mat-button
              class="float-right h5"
              routerLink="/account"
              *ngIf="isAuthenticated()"><span
              class="h5">{{userEmail}}</span></button>
    </div>
  </mat-toolbar>


  <mat-toolbar class="w-100 d-flex"
               *ngSwitchCase="'homeMenu'"
               id="home-menu">
    <div class="pull-right"
         *ngIf="showLeftBtn">
      <a mat-button>
        <h6 class="font-weight-bold"
            routerLink="/announcer">Annonceur</h6>
      </a>
      <a mat-button>
        <h6 class="font-weight-bold"
            routerLink="/creator">Créateur</h6>
      </a>
    </div>

    <div class="d-flex w-100 float-right user-part">
      <button mat-button
              class="float-right p-1"
              (click)="logout()"
              *ngIf="isAuthenticated()"
              matTooltip="{{tooltipLogout}}"><i class="material-icons md-36 md-dark">power_settings_new</i></button>
      <a mat-button
         class="float-right m-2"
         routerLink="/account"
         *ngIf="isAuthenticated()"
         matTooltip="{{tooltipAccount}}">
        <h6 class="font-weight-bold">{{userEmail}}</h6>
      </a>
      <a mat-button
         class="float-right m-2"
         routerLink="/auth/login"
         *ngIf="!isAuthenticated()">
        <h6 class="font-weight-bold">Se connecter</h6>
      </a>
    </div>
  </mat-toolbar>


  <mat-toolbar class="w-100 d-flex"
               *ngSwitchCase="'simpleMenu'"
               id="simple-menu">
    <div class="d-flex w-100 float-right user-part">
      <button mat-button
              class="float-right m-2"
              matTooltip="{{tooltipLogout}}"
              *ngIf="isAuthenticated()"><i class="material-icons md-36 md-dark">power_settings_new</i></button>
      <button mat-button
              class="float-right h5"
              matTooltip="{{tooltipAccount}}"
              [matMenuTriggerFor]="rightMenu"
              *ngIf="isAuthenticated()"><span class="h5">{{userEmail}}</span></button>
    </div>

  </mat-toolbar>
</div>
