#contact-container {
    h2 {
        max-width: 1050px;
    }
    form {
        max-width: 500px;
    }
    .vis {
        transition: height 1s ease;
        height: 120px;
    }
    .hide {
        visibility: hidden;
        transition: height 1s ease;
        height: 0;
    }
} 
/*
:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}

mat-drawer-container {
    flex:1;
} */

