<div id="contact-container" class="d-flex flex-column m-5 pt-5 ">

  <h2 class="mt-5 mb-5 text-center font-weight-bold ml-auto mr-auto ">
    Vous avez des questions, des intérrogations ou des commentaires ? <br>
    N'hésitait pas à nous contacter pour nous donner votre avis !
  </h2>

  <form class="m-auto mt-5">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Mon email</mat-label>
      <input matInput placeholder="Mon email" [(ngModel)]='contact.email' type="email" name="contact_email" required>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Mon sujet</mat-label>
      <input matInput placeholder="Mon sujet" [(ngModel)]='contact.subject' type="subject" name="contact_subject"
        required>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Ma demande</mat-label>
      <textarea matInput class="w-100" rows="8" placeholder="Ma demande" [(ngModel)]='contact.message' type="message"
        name="contact_message" required>
          </textarea>
    </mat-form-field>

    <button (click)="sendMessage()">Envoyer</button>
  </form>

</div>
