.padding-left {
    padding-left: 35px;
}

.category-name-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: row;

    &:hover {
        background-color: rgb(224, 224, 224);
    }

    .element-content {
        flex-grow: 1;
        cursor: pointer;
        margin:auto;
    }
}

.expand-button {
    // position: absolute;
    // right: 25px;
    // display: flex;
}

label {
    margin-bottom: 0;
}