<div [ngClass]="{'padding-left': !!style}" *ngIf="showElement()">

  <div class="category-name-container pl-4 pr-4 position-relative">

    <mat-checkbox (change)="selectElement.emit(element)" [checked]="idInList(selectedIds, element.id)"
     class="category-checkbox d-flex mt-1">
    </mat-checkbox>

    <div class="pl-2 element-content" (click)="selectElement.emit(element)">
      <span [class.font-weight-bold_]="idInList(selectedIds, element.id)" [innerHTML]="element.name">
        {{element.name}}
      </span>
      <i class="d-block small" *ngIf="!!element.description" [innerHTML]="element?.description"></i>
    </div>

    <mat-progress-bar mode="indeterminate" *ngIf="element.has_children && childLoading"></mat-progress-bar>

    <div class="d-flex flex-column justify-content-center">
      <button mat-icon-button (click)="$event.preventDefault(); showChildren()">
        <mat-icon *ngIf="element.has_children">
          {{!element.showChildren ? 'expand_more': 'expand_less' }}
        </mat-icon>
      </button>
    </div>
  </div>

  <app-tree-node *ngFor="let child of element.children" [element]="child" [filteredData]="filteredData"
   [selectedIds]="selectedIds" [filtered]="filtered" [style]="true" (selectElement)="selectElement.emit($event)"
   [hidden]="!element.showChildren && expandedIds.indexOf(element.id) < 0"></app-tree-node>
  <!-- [childLoading]="category.has_children && category.children.length === 0" -->
</div>
