<mat-card>
  <mat-card-title>
    <h2 *ngIf="!isActivated">Compte en cours d'activation</h2>
    <h2 *ngIf="isActivated">Compte activé</h2>
  </mat-card-title>

  <mat-card-content>

    <mat-spinner class="mt-5 mx-auto"
                 *ngIf="!isActivated && !showMessage"></mat-spinner>

    <div class="alert-warning alert mt-5 p-3"
         *ngIf="showMessage">{{message}} <br>
      Obtenez-en un nouveau depuis la
      <a routerLink="/auth/login">page de connexion </a>
    </div>

    <p *ngIf="isActivated">
      Votre email à été correctement activer. Vous allez être redirigé vers la page de connexion {{timer}} s.<br>
      Si la direction ne fonctionne pas, 
      <a routerLink="/auth/login">cliqué ici.</a>
    </p>

  </mat-card-content>
</mat-card>
