<ng-container [ngSwitch]="fieldComponentType">

  <ng-container *ngSwitchCase="FieldComponentType.MatFormField">
    <ng-container *ngIf="dataType === DataType.String">
      <mat-form-field [class]="classes + ' margin-bottom'"
                      [floatLabel]="'auto'"
                      [appearance]="matFormFieldType">

        <mat-label>{{label}}</mat-label>
        <input matInput
               (change)="inputChange($event)"
               [formControl]="formControlField" />
        <!-- [maxLength]="maxLength"
           (keypress.enter)="$event.preventDefault()" -->

        <mat-hint *ngIf="!!hint && !hint.start && !hint.end ">{{hint}}</mat-hint>

        <mat-hint align="start"
                  *ngIf="!!hint && hint.start">{{hint.start}}</mat-hint>
        <mat-hint align="end"
                  *ngIf="!!hint && hint.end">{{hint.end}}</mat-hint>
        <mat-error  *ngFor="let error of errors | keyvalue">
          <ng-container>
            <ng-container *ngIf="hasError(error.key)">
              <!-- <div> -->
                {{error.value}}
              <!-- </div> -->
            </ng-container>
          </ng-container>
        </mat-error>
      </mat-form-field>

    </ng-container>

    <ng-container *ngIf="dataType === DataType.Date">
      <mat-form-field [class]="classes + ' margin-bottom'"
                      [floatLabel]="'auto'"
                      [appearance]="matFormFieldType">
        <mat-label>{{label}}</mat-label>

        <input matInput
               [min]="dateParams.min"
               [placeholder]="placeholder"
               [matDatepicker]="picker"
               [formControl]="formControlField"
               (keypress.enter)="$event.preventDefault()" />

        <mat-datepicker-toggle matSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-hint *ngIf="!!hint && !hint.start && !hint.end ">{{hint}}</mat-hint>

        <mat-hint align="start"
                  *ngIf="!!hint && hint.start">{{hint.start}}</mat-hint>
        <mat-hint align="end"
                  *ngIf="!!hint && hint.end">{{hint.end}}</mat-hint>
        <mat-error  *ngFor="let error of errors | keyvalue">
          <ng-container>
            <ng-container *ngIf="hasError(error.key)">
              <!-- <div> -->
                {{error.value}}
              <!-- </div> -->
            </ng-container>
          </ng-container>
        </mat-error>
      </mat-form-field>
    </ng-container>

  </ng-container>
  <ng-container *ngSwitchCase="FieldComponentType.SlideToggle">

    <mat-slide-toggle [checked]="formControlField.value"
                      (change)="changed.emit($event.checked)">{{label}}</mat-slide-toggle>

  </ng-container>

  <ng-container *ngSwitchCase="FieldComponentType.FileUpload">
    <p>
      {{label}}
    </p>
    <app-file-upload [fileType]="fileUploadParams.fileType"
                     [fileFormGroup]="formControlField"
                     (fileUploadChange)="changed.emit($event)"
                     [acceptedImageFormat]="fileUploadParams.acceptedImageFormat"></app-file-upload>
  </ng-container>


  <ng-container *ngSwitchCase="FieldComponentType.ChoicesButton">
    <app-choices-button [onTrue]="choicesButtonsParams.onTrue"
                        [onFalse]="choicesButtonsParams.onFalse"
                        [isTrue]="choicesButtonsParams.isTrue"
                        (changed)="changed.emit($event)">
    </app-choices-button>
  </ng-container>

  <ng-container *ngSwitchCase="FieldComponentType.AutoCompleteSelector">
    <mat-form-field class="example-full-width margin-bottom">
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="formControlField"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <!-- <ng-container *ngIf="!multipleValueParams.optionTemplate"> -->
          <!-- <mat-option *ngFor="let option of [1,2,3]"
                      [value]="option">
            {{option}}
          </mat-option> -->
        <!-- </ng-container> -->

        <ng-container *ngIf="!!multipleValueParams.optionTemplate">
          <ng-container *ngTemplateOutlet="multipleValueParams.optionTemplate">
          </ng-container>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
  </ng-container>
</ng-container>



<ng-template [ngTemplateOutlet]="content"
             *ngIf="!!content">
</ng-template>
