<div id="payins-container">

  <div class="">


  <table mat-table [dataSource]="myPayinList" class="mat-elevation-z5 w-100">

    <ng-container matColumnDef="advertising_name">
      <th mat-header-cell *matHeaderCellDef> Annonce </th>
      <td mat-cell *matCellDef="let element"> {{element.advertising_name}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Montant du paiement </th>
      <td mat-cell *matCellDef="let element"> {{element.amount | currency: 'EUR': 'symbol': '1.2-2': 'fr' }} </td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Date de création </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at | date : 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef> Dernière mise à jour </th>
      <td mat-cell *matCellDef="let element"> {{element.updated_at | date : 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="method">
      <th mat-header-cell *matHeaderCellDef> Méthode de paiement </th>
      <td mat-cell *matCellDef="let element"> {{element.method}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status du paiement </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="estimatedView">
      <th mat-header-cell *matHeaderCellDef> Nombre de vue estimé </th>
      <td mat-cell *matCellDef="let element"> {{element.estimatedView}} </td>
    </ng-container>

    <ng-container matColumnDef="viewCount">
      <th mat-header-cell *matHeaderCellDef> Nombre de vue réalisé </th>
      <td mat-cell *matCellDef="let element"> {{element.viewCount}} </td>
    </ng-container>

    <ng-container matColumnDef="noRow">
      <td mat-footer-cell *matFooterCellDef colspan="8">
        <div class="text-center">
          Vous n'avez pas encore de effectué de paiement.
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['noRow']" [hidden]="myPayinList.length > 0"></tr>


  </table>

</div>


</div>
