@import "../../../variables.scss";

mat-form-field {
    &.ng-invalid.mat-form-field-invalid {
        margin-bottom: 15px;
    }
}

mat-card-actions a {
    font-weight: bold;
    font-size: 16px;
    height: 100%;
    line-height: 1.15em;
    padding: 12px 20px;
}

#profile-container {

    .flex {
        flex: 1;
    }

    .thumbnail {
        background: #eee;
    }
    .img-thumbnail {
        // position: absolute;
        // top: -36px;
        width: 170px;
        height: 170px;

    }

    .image-parent {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: dotted 2px black;
        // position: absolute;
        // top: -36px;
        margin-top: -38px;
        > div {
            margin: auto;
        }
    }

    .save-button {
        background-color: $orange;
        color:  white;
        font-size: 1.1rem;
        
    }
    
    .cancel-button {
        background-color: red;
        color: white;
        font-size: 1.1rem;
        
    }
}