<div id="profile-container"
     class="">
  <form [formGroup]="profileForm">
    <mat-card class="ml-auto mr-auto mb-3"
              [ngClass]="{'col-xl-12' : isFullWidth, 'col-xl-8' : !isFullWidth}">
      <mat-card-title>
        <b>
          Mon profil
        </b>
      </mat-card-title>

      <mat-card-content>
        <mat-form-field class="w-100"
                        [appearance]="matFormFieldType">
          <mat-label>Nom</mat-label>
          <input class="w-100"
                 matInput
                 placeholder="Nom"
                 formControlName="lastname">
          <mat-error *ngIf="lastname?.errors?.required"> Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100"
                        [appearance]="matFormFieldType">
          <mat-label>Prénom</mat-label>
          <input matInput
                 placeholder="Prénom"
                 formControlName="firstname">
          <mat-error *ngIf="firstname?.errors?.required"> Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100"
                        [appearance]="matFormFieldType">
          <mat-label>Pseudonyme</mat-label>
          <input matInput
                 placeholder="Pseudonyme"
                 formControlName="username">
          <mat-error *ngIf="username?.errors?.required"> Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100"
                        [appearance]="matFormFieldType">
          <mat-label>Email</mat-label>
          <input matInput 
                 placeholder="email"
                 formControlName="email"
                 disabled="true">
          <mat-error *ngIf="email?.errors?.required"> Ce champ est requis</mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="w-100" [appearance]="matFormFieldType">
          <mat-label>Date de naissance</mat-label>
          <input matInput placeholder="Date de naissance" type="date" formControlName="birthdate">
          <mat-error *ngIf="birthdate?.errors?.required"> Ce champ est requis</mat-error>
        </mat-form-field> -->

        <app-date-input [dateFormGroup]="birthdate"
                        minYearFromNow="100"
                        maxYearFromNow="0"
                        [matFormFieldType]="matFormFieldType"
                        (dateChange)="dateChange($event)"></app-date-input>


        <mat-form-field class="w-100"
                        [appearance]="matFormFieldType">
          <mat-label>Adresse</mat-label>
          <input matInput
                 placeholder="Adresse"
                 formControlName="address">
          <mat-error *ngIf="address?.errors?.required"> Ce champ est requis</mat-error>
          <!-- <mat-error *ngIf="hasError(address, 'required')"> Ce champ est requis</mat-error> -->

        </mat-form-field>

        <div class="row">
          <mat-form-field class="col-3"
                          [appearance]="matFormFieldType">
            <mat-label>Code postal</mat-label>
            <input matInput
                   placeholder="Code postal"
                   formControlName="zip_code">
            <mat-error *ngIf="zip_code?.errors?.required"> Ce champ est requis</mat-error>
            <mat-error *ngIf="zip_code?.errors?.pattern"> Un code postal doit être composé de 5 chiffres</mat-error>
          </mat-form-field>

          <mat-form-field class="col-9"
                          [appearance]="matFormFieldType">
            <mat-label>Ville</mat-label>
            <input matInput
                   placeholder="Ville"
                   formControlName="city">
            <mat-error *ngIf="city?.errors?.required"> Ce champ est requis</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="w-100"
                        [appearance]="matFormFieldType">
          <mat-label>Pays</mat-label>
          <input matInput
                 placeholder="Pays"
                 formControlName="country">
          <mat-error *ngIf="country?.errors?.required"> Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100"
                        [appearance]="matFormFieldType"
                        *ngIf="is_announcer.value">
          <mat-label>Nom de votre entreprise</mat-label>
          <input matInput
                 placeholder="Nom de votre entreprise"
                 formControlName="company_name">
          <mat-error *ngIf="company_name?.errors?.required"> Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100"
                        *ngIf="is_announcer.value"
                        [appearance]="matFormFieldType">
          <mat-label>Numéro SIRET</mat-label>
          <input matInput
                 placeholder="Numéro SIRET"
                 formControlName="siret">
          <mat-error *ngIf="siret?.errors?.required"> Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100"
                        *ngIf="is_announcer.value"
                        [appearance]="matFormFieldType">
          <mat-label>Numéro de TVA</mat-label>
          <input matInput
                 placeholder="Numéro de TVA"
                 formControlName="vat_intra">
          <mat-error *ngIf="vat_intra?.errors?.required"> Ce champ est requis</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="p-3 d-flex flex-row-reverse">
        <a mat-raised-button
           class=""
           color="primary"
           (click)="updateProfile()">Enregistrer</a>

        <a mat-button
           class="font-weight-bold mr-5"
           color="warn"
           (click)="resetForm()">Annuler</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
