<div class="position-relative">

  <mat-card>
    <mat-card-title>
      Mes tirages au sorts
    </mat-card-title>

    <table mat-table
           [dataSource]="raffles"
           class="w-100">
      <!-- Name Column -->

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef> Nom </th>
        <td mat-cell
            *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell
            *matHeaderCellDef> Description </th>
        <td mat-cell
            *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="start_date">
        <th mat-header-cell
            *matHeaderCellDef> Date de début </th>
        <td mat-cell
            *matCellDef="let element"> {{element.start_date | date: "dd/MM/YYYY"}} </td>
      </ng-container>
      <ng-container matColumnDef="end_date">
        <th mat-header-cell
            *matHeaderCellDef> Date de fin </th>
        <td mat-cell
            *matCellDef="let element"> {{element.end_date | date: "dd/MM/YYYY"}} </td>
      </ng-container>

      <ng-container matColumnDef="enable">
        <th mat-header-cell
            *matHeaderCellDef> Actif </th>
        <td mat-cell
            *matCellDef="let element"> {{element.enable}} </td>
      </ng-container>

      <ng-container matColumnDef="rewards">
        <th mat-header-cell
            *matHeaderCellDef> Récompenses associées </th>
        <td mat-cell
            *matCellDef="let element">
          <div *ngFor="let reward of element.rewards">
            {{reward.reward.name}} : {{reward.quantity}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef> </th>

        <td mat-cell
            *matCellDef="let element">
          <button mat-icon-button
                  [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item [routerLink]="['/account/raffles', element.id]"
                    >Editer</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>


  <a mat-fab
     class="fab-button"
     routerLink="/account/raffles/new"
     matTooltip="Créer une nouvelle récompense">
    <mat-icon>add</mat-icon>
  </a>

</div>
