.file-upload-container {
  background: #eee;
  width: 100%;
  min-height: 225px;
  border-style: dashed;
  border-color: grey;
  border-width: 2px;
  border-radius: 6px;
  display: flex;
  position: relative;

  &.cursor-pointer {
    cursor: pointer;
  }

  transition: all 0.4s;

  &:hover {
    background: rgba(0,0,0,0.7);
    i {
        color: white;
        font-size: 65px;
    }
}
  &:hover:not(.contain-file) {
      background: rgba(0,0,0,0.7);
      color: white;
      i {
          color: white;
          font-size: 65px;
      }
  }

  &.contain-file:hover {
    background: rgba(0,0,0,0.2);
  }

  i {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 45px;
    transition: all 0.4s;
  }
}

:host {
  display: flex;
  flex: 1;
}

.fileError,
.file-error {
  border-color: red;
}
