<div class="d-flex flex-column w-100"
    >
  <div class="file-upload-container align-center align-content-center justify-content-center p-3 my-auto mx-auto"
       (drop)="drop($event)"
       (dragover)="dragOverHandler($event)"
       (click)="fileInputClick()"
       [class.fileError]="hasErrors()"
       [class.cursor-pointer]="!fileFormGroup.get('file').value"
       [class.contain-file]="!!filePreviewSrc_"
       [formGroup]="fileFormGroup">

    <input type="file"
           hidden
           #fileInput
           id="fileInput"
           [accept]="fileType === 'video' ? 'video/*' : 'image/*'"
           (change)="fileInputUpload($event)" />

    <div class="align-self-center align-middle d-flex flex-column"
         *ngIf="!filePreviewSrc_">
      <i class="material-icons">cloud_upload</i>
      {{filePreviewSrc}} <br>
      {{filePreviewSrc_}}
      <span class="align-self-center align-middle">Glissez votre fichier ici ou cliquez ici pour importer</span> <br>
    </div>

    <div class="align-self-center align-middle d-flex flex-column"
         *ngIf="!!filePreviewSrc_">
      <img [src]="filePreviewSrc_"
           *ngIf="fileType === 'image'"
           (load)="loadedMetatData($event)"
           height="240"
           class="d-block align-self-center align-middle"
           #imageMedia />

      <video [src]="filePreviewSrc_"
             *ngIf="fileType === 'video'"
             (loadedmetadata)="loadedMetatData($event)"
             width="426"
             height="240"
             controls
             class="d-block align-self-center align-middle"
             #videoMedia
             videoMediaElement>
      </video>

      <button mat-button
              class="d-block mt-2"
              (click)="deleteFile($event)">Supprimer <b> {{fileFormGroup.get("name").value}} </b></button>
    </div>
  </div>

  <div style="color: red"
       class="pt-2"
       *ngIf="hasErrors()">
    <span class="d-block"
          *ngIf="fileFormGroup.get('file').errors?.maxSize">La poids du fichier dépasse le seuil maximal autorisé</span>

    <span class="d-block"
          *ngIf="fileFormGroup.get('file').errors?.ratio">Les dimensions du fichier ne corresponde pas aux dimensions
      attendu</span>


    <span class="d-block"
          *ngIf="fileFormGroup.get('file').errors?.maxDuration">Durée maximal de la video dépassé</span>

    <span class="d-block"
          *ngIf="fileFormGroup.get('file').errors?.required">Un fichier est attendu</span>

    <span class="d-block"
          *ngIf="fileFormGroup.get('file').errors?.fileFormat">Le format du fichier n'est pas un format {{fileType}}
      accepté.
      Seules sont autorisé les format: {{ fileType === 'video' ? acceptedVideoFormat.join(', ') :
      acceptedImageFormat.join(', ') }}.</span>
  </div>

</div>
