<!-- <div id="payout-container" class="h-100 w-100 p-3">
  <mat-card class="col-xl-8 ml-auto mr-auto">
    <mat-card-title>
      Vos mode de reception de paiements
    </mat-card-title>
    <p>
      <mat-slide-toggle (change)="enableChange()">Modifier votre Profile ?</mat-slide-toggle>
      Renseigner ici vos information pour recevoir vos paiements
    </p>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Iban</mat-label>
      <input matInput placeholder="Iban" disabled="{{!isEnable}}" [(ngModel)]="model.iban" name="iban">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Bic</mat-label>
      <input matInput placeholder="Bic" disabled="{{!isEnable}}" [(ngModel)]="model.bic" name="bic">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Compte Paypal</mat-label>

      <input matInput placeholder="Compte Paypal" disabled="{{!isEnable}}" [(ngModel)]="model.paypal_account" name="paypal_account">
    </mat-form-field>
    <button mat-raised-button>Confirmer</button>
    <button mat-raised-button>Annuler</button>
  </mat-card>
</div> -->

<div class=" d-flex flex-nowrap">
  <mat-card class="col-xl-8 ml-auto mr-auto mr-2">
    <mat-card-title>
      Mes demandes de paiements
    </mat-card-title>
    <mat-card-content>
      <div class="alert alert-info" *ngIf="payoutsRequestDataSource.length == 0">
        Vous n'avez pas encore effectué de paiment.
      </div>
      <div *ngIf="payoutsRequestDataSource.length > 0" class="">
        <table mat-table [dataSource]="payoutsRequestDataSource" class="w-100">
          <ng-container matColumnDef="user_email">
            <th mat-header-cell *matHeaderCellDef> User email</th>
            <td mat-cell *matCellDef="let element"> {{element.user_email}}</td>
          </ng-container>
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}}</td>
            </ng-container>
          <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.amount}} &euro;</td>
            </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
          <ng-container matColumnDef="method">
            <th mat-header-cell *matHeaderCellDef> Méthode </th>
            <td mat-cell *matCellDef="let element"> {{element.method}} </td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef> Date de création </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at | date : 'dd/MM/yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="updated_at">
              <th mat-header-cell *matHeaderCellDef> Date d'update </th>
              <td mat-cell *matCellDef="let element"> {{element.updated_at | date : 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="noRows">
              <td mat-footer-cell *matFooterCellDef colspan="7">
                <div class="text-center">
                  Vous n'avez pas encore de campagne.
                </div>
              </td>
            </ng-container>
          <tr mat-header-row *matHeaderRowDef="payoutsRequestColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: payoutsRequestColumns;" (click)="openRow(row)"
            [hidden]="payoutsRequestDataSource.length == 0"></tr>
          <tr mat-footer-row *matFooterRowDef="['noRow']" [hidden]="payoutsRequestDataSource.length > 0"></tr>

        </table>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="currentPayoutRequest" class="col-xl-4 ml-2">
    <mat-card-title>
      Détail pour la demande N°{{currentPayoutRequest.id}} de {{currentPayoutRequest.user_username}}
    </mat-card-title>
    <div class="mb-3 d-flex flex-row" *ngFor="let item of currentPayoutRequest | keyvalue">
      <p class="w-25">{{item.key}}</p>
      <p class="w-75">{{item.value}}</p>
      <mat-divider></mat-divider>
    </div>
  </mat-card>
</div>
