footer {
    background-image: none;
    position: absolute;
    color: white;
    bottom: 0;
}

app-footer {
    /* position: absolute; */
    /* bottom: 0;
    left: 0;
    right: 0; */
}

#app-container {
    min-height:  100vh;
    /* width: 100vw; */
    /* position: absolute; 
    bottom: 0;
    left: 0;
    right: 0; 
    top: 0; */
    /* overflow: hidden; */
}

:host {
    min-height: 100vh;
}