<mat-card>
  <mat-card-title>
    Modifiez votre mot de passe
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="newPasswordForm">

      <mat-form-field class="w-100"
                      [appearance]="matFormFieldType">
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput
               type="password"
               formControlName="new_password" />
        <mat-error *ngIf="hasError(newPassword, 'required')">Ce champ est requis</mat-error>
        <mat-error *ngIf="hasError(newPassword, 'pattern')">Le mot de passe doit contenir 6 caractère minimum, des
          chiffres et des lettres</mat-error>


      </mat-form-field>
      <mat-form-field class="w-100"
                      [appearance]="matFormFieldType">
        <mat-label>Confirmez votre nouveau mot de passe</mat-label>
        <input matInput
               type="password"
               formControlName="new_password_confirm" />
        <mat-error *ngIf="hasError(newPasswordConfirm, 'required')">Ce champ est requis</mat-error>
        <mat-error *ngIf="hasError(newPasswordConfirm, 'pattern')">Le mot de passe doit contenir 6 caractère minimum,
          des chiffres et des lettres</mat-error>


      </mat-form-field>
    </form>


    <button mat-raised-button
            class="w-100 mt-2 mb-2 back-gradient-orange"
            (click)="changePassword()"
            type="submit">Changer mon mot de passe</button>
    <a class="mt-2"
       class="cursor-pointer"
       mat-button
       routerLnk="/auth/login"
       >Vous êtes déjà inscris ? Connectez-vous</a>

  </mat-card-content>

</mat-card>
