@import "../../../variables.scss";

.play-pause-btn {
    display: none;

    &.is-active-button {
        display: initial;
        &:hover.is-inactive-button {
            background: red;
            display: unset;
            display: inline;
        }
    }

    // &.is-inactive-button {
    //     display: initial;
    //     &:hover {
    //         display: unset;
    //     }
    // }
}

.color-success {
    color: #13ea1a;
}

table [mat-footer-row] {
    background-color: rgba(red($blue), green($blue), blue($blue), 0.15);
}

table {
    td {
        border-right: solid 1px rgba(0,0,0, 0.2);
    }

    & [mat-row] {
        &:nth-child(2n) {
            background-color: #efefef;
        }
        &:hover {
            background-color: #dddddd;
        }
    }
}

.current-graph-line {
    background-color: rgba(red($orange), green($orange), blue($orange), 0.15) !important;
}

.advertising-fab-button {
    position: fixed;
    right: 25px;
    bottom: 45px;
    background-color: $orange;
}

