<div class="">
  <mat-card>
    <div class="d-flex justify-content-end">
      <mat-form-field class="pr-3">
        <mat-label>Données du graphique</mat-label>
        <mat-select #fontSize value="0.10" [(ngModel)]="currentReferenceProperty" name="cost_per_view">
          <mat-option value="{{x.key}}" *ngFor="let x of possibleReferencePropertyList | keyvalue">{{x.value}}</mat-option>
        </mat-select>

      </mat-form-field>
      <mat-form-field class="pr-3">
        <input matInput [matDatepicker]="pickerDate1" placeholder="Choisir une date de début" [(ngModel)]="fromDate">
        <mat-datepicker-toggle matSuffix [for]="pickerDate1"></mat-datepicker-toggle>
        <mat-datepicker #pickerDate1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerDate2" placeholder="choisir une date de fin" [(ngModel)]="toDate">
        <mat-datepicker-toggle matSuffix [for]="pickerDate2"></mat-datepicker-toggle>
        <mat-datepicker #pickerDate2></mat-datepicker>
      </mat-form-field>
      <button mat-button (click)="reloadGraph()">
        Mettre à jour le graphique
      </button>
    </div>
    <div class="chart-container" style="position: relative; height:250px; width:100%">
      <canvas id="myChart"></canvas>
    </div>
  </mat-card>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 mt-3">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="is_active">
      <th mat-header-cell *matHeaderCellDef> Activé </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Désactiver momentanément l'annonce" *ngIf="element.is_active">
          <mat-icon class="color-success">play_arrow</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Activer l'annonce" *ngIf="!element.is_active">
          <mat-icon color="warn">pause</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>

    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Campagne </th>
      <td mat-cell *matCellDef="let element" class="pr-1 pl-1">
        {{element.name}}
      </td>
      <td mat-footer-cell *matFooterCellDef class="b pr-1 pl-1"> Total </td>
    </ng-container>

    <ng-container matColumnDef="is_approuved">
      <th mat-header-cell *matHeaderCellDef> Etat </th>
      <td mat-cell *matCellDef="let element" class="pr-1 pl-1" [matTooltip]="!!element.is_approuved ? 'Approuvé': 'En cour d\'approbation'">
        {{!!element.is_approuved ? 'Approuvé': 'En cours ...'}}
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>

    </ng-container>

    <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef> Budget </th>
      <td mat-cell *matCellDef="let element" class="pr-1 pl-1">
        <span *ngIf="!element.start_at || !element.end_at">
          <b>Total :</b>
          {{element.target_view * element.cost_per_view | nullToZero | currency:'EUR':'symbol':'1.2-2':'fr'}} <br>
        </span>
        <span *ngIf="element.start_at && element.end_at"><b>Par jour :</b>
          {{element.target_view *element.cost_per_view | nullToZero | currency:'EUR':'symbol':'1.2-2':'fr'}} <br>
          sur {{getDaysFromTo(element.start_at, element.end_at).length}} j
        </span>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="target_view">
      <th mat-header-cell *matHeaderCellDef> Objectif de vue </th>
      <td mat-cell *matCellDef="let element" class="pr-1 pl-1">
        <b *ngIf="!element.target_view_per_day">Total :</b>
        <b *ngIf="element.target_view_per_day">Quotidien : </b>
        {{element.target_view | nullToZero | number: '1.0'}}
        <span *ngIf="element.start_at && element.end_at">
          sur {{getDaysFromTo(element.start_at, element.end_at).length}} jours
        </span>
        <br>
        <span *ngIf="hasStarted(element) && element.start_at">
          Depuis: {{countDayToToday(element)}} jours <br>
        </span>
        <span *ngIf="hasStarted(element) && element.end_at">
          Reste: {{countDayToEnd(element)}} jours
        </span>
        <span *ngIf="!hasStarted(element) && element.start_at">
          Débute dans: {{countDayToStart(element)}} jours
        </span>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>


    <ng-container matColumnDef="cost_per_view">
      <th mat-header-cell *matHeaderCellDef> CPV max </th>
      <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1">
        {{element.cost_per_view | currency:'EUR':'symbol':'1.2-2':'fr'}}
      </td>
      <td mat-footer-cell *matFooterCellDef class="b pr-1 pl-1"></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="count_impressions_total">
      <th mat-header-cell *matHeaderCellDef> Impressions </th>
      <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1">
        {{element.count_impressions_total | nullToZero | number: '1.0'}}
      </td>
      <td mat-footer-cell *matFooterCellDef class="text-right pr-1 pl-1">
        {{computeWholeData("count_impressions_total") | nullToZero | number: '1.0'}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="count_tips_total">
      <th mat-header-cell *matHeaderCellDef> Vues </th>
      <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1">
        {{element.count_tips_total | nullToZero | number: '1.0'}}
      </td>
      <td mat-footer-cell *matFooterCellDef class="text-right pr-1 pl-1">
        {{computeWholeData("count_tips_total") | nullToZero | number: '1.0'}} </td>

    </ng-container>

    <ng-container matColumnDef="view_rate">
      <th mat-header-cell *matHeaderCellDef> Taux de vues </th>
      <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1">
        <span>
          {{element.count_tips_total / element.count_impressions_total | nullToZero | percent:'1.2-2':'fr'}}
        </span>
        <!-- <span *ngIf="!element.count_tips_total || !element.count_impressions_total">
            0,00 % 
          </span> -->
      </td>
      <td mat-footer-cell *matFooterCellDef class="text-right pr-1 pl-1">
        <span> {{computeRateData('count_tips_total', 'count_impressions_total') | percent:'1.2-2':'fr'}}</span>
      </td>

    </ng-container>

    <ng-container matColumnDef="sum_cost_total">
      <th mat-header-cell *matHeaderCellDef> Coût total actuel </th>
      <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1">
        {{element.sum_cost_total | nullToZero | currency:'EUR':'symbol':'1.2-2':'fr'}}
      </td>
      <td mat-footer-cell *matFooterCellDef class="text-right pr-1 pl-1">
        <span> {{computeWholeData("sum_cost_total") | currency:'EUR':'symbol':'1.2-2':'fr'}} </span>
      </td>

    </ng-container>

    <ng-container matColumnDef="avg_cost_per_view">
      <th mat-header-cell *matHeaderCellDef> CPV moyen </th>
      <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1">
        <span> {{element.avg_cost_per_view | nullToZero | currency:'EUR':'symbol':'1.2-2':'fr'}}</span>
        <!-- <span *ngIf="!element.avg_cost_per_view"> {{'0' | currency:'EUR':'symbol':'1.2-2':'fr'}}</span> -->
      </td>
      <td mat-footer-cell *matFooterCellDef class="text-right pr-1 pl-1">
        <span> {{computeAvgData('avg_cost_per_view') |currency:'EUR':'symbol':'1.2-2':'fr'}} </span> </td>

    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="count_clicked_total">
      <th mat-header-cell *matHeaderCellDef> Conversions </th>
      <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1">
        {{element.count_clicked_total | nullToZero | number: '1.0'}}
      </td>
      <td mat-footer-cell *matFooterCellDef class="text-right pr-1 pl-1">
        {{computeWholeData("count_clicked_total")}}</td>

    </ng-container>

    <ng-container matColumnDef="cost_per_click">
      <th mat-header-cell *matHeaderCellDef> Coût/conversions </th>
      <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1">
        <span>
          {{element.sum_cost_total/element.count_clicked_total | nullToZero |
          currency:'EUR':'symbol':'1.2-2':'fr'}}
        </span>
      </td>
      <td mat-footer-cell *matFooterCellDef class="text-right pr-1 pl-1">
        <span> {{computeRateData('sum_cost_total', 'count_clicked_total') |
          currency:'EUR':'symbol':'1.2-2':'fr'}} </span> </td>

    </ng-container>

    <ng-container matColumnDef="conversion_rate">
      <th mat-header-cell *matHeaderCellDef> Taux de conversion </th>
      <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1">
        <span>
          {{element.count_clicked_total / element.count_impressions_total | nullToZero | percent: '1.2-2': 'fr'}}
        </span>
      </td>
      <td mat-footer-cell *matFooterCellDef class="text-right pr-1 pl-1">
        <span> {{computeRateData('count_clicked_total', 'count_impressions_total')
          | nullToZero | percent:'1.2-2': 'fr'}}</span></td>

    </ng-container>

    <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="edit(element.id)">Editer</button>
          <button mat-menu-item (click)="detail(element.id)">Détails</button>
          <button mat-menu-item (click)="viewGraph(element.id)">Voire le graphique détaillé</button>
          <button mat-menu-item (click)="creditMyBalance(element.id)">Créditer mon solde</button>
        </mat-menu>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>

    </ng-container>

    <ng-container matColumnDef="hasNoRows">
      <td mat-header-cell *matHeaderCellDef colspan="14">
        <div class="text-center">
          Vous n'avez pas encore de campagne. Vous pouvez en ajouter un en cliquant <a routerLink="/account/advertising">ici</a>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="hasNoRows()" [hidden]="dataSource.length > 0"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'current-graph-line': !!currentAdvertising && row.id == currentAdvertising.id}"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns" [hidden]="dataSource.length <= 0" ></tr>
  </table>

  <button mat-fab class="advertising-fab-button" (click)="goToAdvertising()" matTooltip="Créer une nouvelle campagne publicitaire">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
  </button>


</div>
