<div id="creator-container">
  <app-menu [showMenuType]="'homeMenu'"></app-menu>
  <div id="background-container">
  </div>
  <div id="jumbo" class="m-auto">
    <div class="">
      <h1 class="m-auto w-auto">
        <b>
          MeeTips : Concus pour ceux qui veulent vivre de leurs passion.
        </b>
      </h1>
      <br>
      <h4 class="m-auto w-auto">
        <b>
          Inscris-toi dès maintenant et permet à ta communauté de te soutenir simplement et gratuitement avec seulement 30 secondes de leurs temps.
        </b>
      </h4>
    </div>
    <div id="register-button-container" class="">
      <button mat-raised-button class="m-auto" routerLink="/register">Je m'inscris !</button>
    </div>
  </div>

  <div class="d-flex flex-wrap mt-4 bulb-item">
    <div class="image-part col-md-6">
      <div class="image-container  m-auto pr-md-2" [ngStyle]="{'background-image': 'url(/assets/statics/fire.jpg)'}">
      </div>
    </div>
    <div class="align-self-center text-center col-md-6">
      <p class="image-description   pl-md-2 m-auto">
        Vous êtes animé par une passion flamboyante ? 
        Vous la partagez par n'importe quels moyen (vidéo, blog, journal, vlog, ...) ? 
        Vous produisez du contenu suivie et apprecié ?
      </p>
    </div>
  </div>

  <div class="d-flex flex-wrap mt-4 bulb-item">
    <div class="image-part col-md-6">
      <div class="image-container  m-auto pr-md-2" [ngStyle]="{'background-image': 'url(/assets/statics/work.jpg)'}">
      </div>
    </div>
    <div class="align-self-center text-center col-md-6">
      <p class="image-description   pl-md-2 m-auto">
        Vous êtes une personnalitée suivi du web et vous avez une certaine notorieté ?
        Vous produisez du contenu suivie et apprecié ?
      </p>
    </div>
  </div>

  <div class="d-flex flex-wrap mt-4 bulb-item">
    <div class="image-part col-md-6">
      <div class="image-container  m-auto pr-md-2" [ngStyle]="{'background-image': 'url(/assets/statics/community5.jpg)'}">
      </div>
    </div>
    <div class="align-self-center text-center col-md-6">
      <p class="image-description   pl-md-2 m-auto">
        Vous avez une communauté derrière vous qui vous encourage et vous soutiens ?
      </p>
    </div>
  </div>
  
  <div class="d-flex flex-wrap mt-4 bulb-item">
    <div class="image-part col-md-6">
      <div class="image-container   m-auto pr-md-2" [ngStyle]="{'background-image': 'url(/assets/statics/search7.jpg)'}">
      </div>
    </div>
    <div class="align-self-center text-center col-md-6">
      <p class="image-description  pl-md-2 m-auto">
        Vous souhaitez vivre de votre passion mais vous avez du mal à trouver des sponsors ? 
      </p>
    </div>
  </div>
  <div class="d-flex flex-wrap mt-4 bulb-item">
    <div class="image-part col-md-6">
      <div class="image-container   m-auto pr-md-2" [ngStyle]="{'background-image': 'url(/assets/statics/frustat.jpg)'}">
      </div>
    </div>
    <div class="align-self-center text-center col-md-6">
      <p class="image-description  pl-md-2 m-auto">
        Les sponsors vous limitent et vous dictent leurs exigences ?
      </p>
    </div>
  </div>
 
  <div class="d-flex flex-wrap mt-4 bulb-item">
    <div class="image-part col-md-6">
      <div class="image-container m-auto pr-md-2" [ngStyle]="{'background-image': 'url(/assets/statics/creator.jpg)'}">
      </div>
    </div>
    <div class="align-self-center text-center col-md-6">
      <p class="image-description  pl-md-2 m-auto">
        Libérez-vous des sponsors et créez sans limites. On s'occupe du reste !
      </p>
    </div>
  </div>


  <div class="d-flex flex-wrap mt-4 bulb-item">
    <div class="image-part col-md-6 ">
      <div class="image-container m-auto  pl-md-2" [ngStyle]="{'background-image': 'url(/assets/statics/people.jpg)'}">
      </div>
    </div>
    <div class="align-self-center text-center col-md-6 ">
      <p class="image-description pr-md-2 m-auto  ">
        Fidelisez votre public qui choisi de visionner une publicité, et vous soutien simplement et gratuitement.
      </p>
    </div>
  </div>



  <div class="d-flex flex-wrap mt-4 mb-5 bulb-item">
    <div class="image-part col-md-6">
      <div class="image-container  m-auto pl-md-2" [ngStyle]="{'background-image': 'url(/assets/statics/time.jpg)'}">
      </div>
    </div>
    <div class="align-self-center text-center col-md-6 ">
      <p class="image-description  pl-md-2 m-auto">
        Créez votre compte en 30 secondes et permettez à votre communauté de vous soutenir dès maintenant. <br>
        N'attendez plus, <a routerLink="/register">cliquer ici</a>.
      </p>
    </div>
  </div>

  <app-contact></app-contact>
</div>
