mat-form-field {
    &.ng-invalid.mat-form-field-invalid {
        margin-bottom: 15px;
    }
}

mat-card-actions a {
    font-weight: bold;
    font-size: 16px;
    height: 100%;
    line-height: 1.15em;
    padding: 12px 20px;
}