<form [formGroup]="payoutProfileForm">

  <mat-card class="col-xl-8 ml-auto mr-auto mb-3">
    <mat-card-title>
      <b>
        Mes modes de récéption de paiements
      </b>
    </mat-card-title>
    <mat-card-content>
      <p>
        Renseignez ici vos informations pour recevoir vos paiements
      </p>

      <mat-form-field class="w-100" [appearance]="matFormFieldType">
        <mat-label>Compte Paypal</mat-label>

        <input matInput placeholder="Compte Paypal" formControlName="paypal">

        <mat-error *ngIf="paypal?.errors?.requiredIfNull"> Ce champ ou un Iban est requis</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" [appearance]="matFormFieldType">
        <mat-label>Iban</mat-label>

        <input matInput placeholder="Iban" formControlName="iban">

        <mat-error *ngIf="iban?.errors?.requiredIfNull"> Ce champ ou un compte paypal est requis</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" [appearance]="matFormFieldType">
        <mat-label>Bic</mat-label>

        <input matInput placeholder="Bic" formControlName="bic">

        <mat-error *ngIf="bic?.errors?.required"> Ce champ est requis si vous rensigné un Iban</mat-error>

      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="p-3 d-flex flex-row-reverse">
      <a mat-raised-button color="primary" class="" (click)="updatePayout()">Enregistrer</a>
      <a mat-button color="warn" class="mr-5" (click)="payoutProfileForm.reset()">Annuler</a>
    </mat-card-actions>
  </mat-card>
</form>
