<div class="common-category-selector d-flex"
     [class.has-error]="hasError">

  <div class="col-6 p-0 m-0 border">
    <div class="search-part top-part" [class.focus]="inputFocus">
      <div class="input-container">
        <button class="prefix-icon"
                mat-icon-button
                (click)="resetSearch()">
          <mat-icon>clear</mat-icon>
        </button>

        <!-- <div class="flex-grow-1"> -->
        <input [(ngModel)]="search"
               (change)="searchChange()"
               (focus)="inputFocus = true"
               (blur)="inputFocus = false"
               (keypress.enter)="$event.preventDefault(); $event.stopPropagation()"
              />

        <!-- </div> -->

        <button class="suffix-icon"
                mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <div class="input-border-bottom"
           [class.focus]="inputFocus"></div>
    </div>

    <div class="category-tree-part bottom-part">
      <app-tree-node *ngFor="let element of filteredRootElements"
                     [element]="element"
                     [filteredData]="filteredData"
                     (selectElement)="selectElement($event)"
                     (expandId)="expandId($event)"
                     [expandedIds]="expandedIds"
                     [selectedIds]="selectedIds"></app-tree-node>
      <!-- [childLoading]="category.has_children && category.children.length === 0" -->
    </div>
  </div>


  <div class="col-6 p-0 m-0 border-left-0">
    <div class="border border-bottom-0 selected-items-top-part 
                    d-flex flex-row justify-content-between align-items-center pl-3 pr-3">

      <span *ngIf="selectedIds.length == 0"
            class="none-selected">Aucun element selectionné</span>

      <span *ngIf="selectedIds.length > 0"
            class="">
        {{selectedIds.length}} elements selectionné{{selectedIds.length > 1 ? 's': ''}}
      </span>

      <button class="float-right"
              *ngIf="selectedIds.length > 0"
              mat-button
              (click)="selectedIds = []">EFFACER</button>
    </div>

    <div class="border selected-items-bottom-part bottom-part">

      <div *ngFor="let id of selectedIds; index as index"
           class="selected-items">
        <div class="d-flex flex-row p-2 ">

          <div class="content">
            <span class="text-secondary w-100 d-block"
                  *ngIf="getParents(id) != null">{{getParents(id)}}</span>

            <span>{{initialMapData[id]?.name}}</span>
          </div>

          <button mat-icon-button
                  (click)="selectElement(id)">
            <mat-icon class="">cancel</mat-icon>
          </button>

        </div>

      </div>
    </div>
  </div>
</div>
