.cancel-btn {
  font-size: 24px;
}

.category-tree-part {
  overflow: auto;
}

.selected-items-bottom-part {
  display: flex;
  flex-direction: column;
  overflow: auto;

  .selected-items {
    &:nth-child(2n) {
      background: #eee;
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


.common-category-selector {
  &.has-error {
    border: solid 1px red;

    .none-selected {
      color: red;
    }
  }
}

.search-part.top-part {
  border-bottom: solid 2px #ccc;

  &.focus {
    border-bottom: none;
  }
}


.bottom-part {
  height: 450px;
}

.selected-items-top-part {
  height: 42px;
}

.input-container {

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    flex: 1;
    border: none;
    width: 100%;
    padding: 8px;
    // border-bottom: solid 3px grey;
    padding-left: 5px;
    padding-right: 5px;

    &:focus {
      outline: none;
      border-bottom: none;

    }
  }
}


.input-border-bottom {
  margin-left: auto;
  height: 0px;
  width: 0%;
  margin-right: auto;
  background-color: #333;
  box-shadow: 0 0 2px 0px #888;
  transition: width 0s;

  &.focus {
    width: 100%;
    height: 2px;
    transition: width 1s;

  }
}