@import '../../../variables.scss';

app-menu {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 2000ms;
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
    // transition-delay: 2000ms;
    position: relative;
    z-index: 100000;
    &:hover {
        opacity: 0.8;
    }
}


#announcer-container .wide-icon {
    font-size: 200px;
}

#background-container {
    background-image: url("/assets/statics/little_character.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
}

#jumbo {
    height: 90vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;
    right: 15px;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alig */
    color: white;

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 40px;
    }
    

    #register-button-container {

        position: absolute;
        bottom: 100px;
        right: 15px;
        display: flex;
        left: 15px;
        //width: 200px;
        button {
            background-color: $orange;
            color: white;
            font-size: 24px;
            font-weight: 600;
            width: 200px;
            height: 62px;
        }

    }
}