<div id="announcer-container">

  <app-menu [showMenuType]="'homeMenu'"></app-menu>
  <div id="background-container">
  </div>
  <div id="jumbo" class="m-auto">
    <div class="">
      <h1 class="m-auto w-auto b">
        <b>
          MeeTips : Là où les publicités deviennent utiles et appréciés.
           <!-- pour ceux qui veulent vivre de leurs passion.-->
        </b>
      </h1>
      <br>
      <h4 class="m-auto w-auto">
        <b>
          Inscription ouverte à tous les annonceurs souhaitant une visibilité à toutes épreuves, et voulant s'addresser à un public attentif.
        </b>
      </h4>
    </div>
    <div id="register-button-container" class="">
      <button mat-raised-button class="m-auto" routerLink="/register/">Je m'inscris !</button>
    </div>

    <div>
      <p></p>
    </div>
  </div>
</div>