.demographic-data-container {
    border-radius: 8px;
    border-color: rgba(0,0,0,0.6);
    border-style: solid;
    border-width: 2px;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    // align-content: stretch;
    width: 100%;

    .column {
        // align-self: stretch;
        // display: flex;
        width: 100%;
        padding: 1rem;
        // flex-direction: column;
        border-left: solid 2px rgba(0,0,0,0.2);

        &:first-of-type {
            border: none;
        }

    }

}

.first-letter-capitilize {
    &::first-letter, ::first-letter, *::first-letter {
        text-transform: capitalize;
    }
}