<div class="w-100">
  <div class="demographic-data-container align-content-stretch d-flex">
    <div *ngFor="let item of items" class="column flex-grow-1 first-letter-capitilize">
      <p>
        <strong class="column-title">
          {{item?.name}}
        </strong>
      </p>
      <mat-checkbox class="d-block personnal-font" 
      *ngFor="let child of item?.children"
      (change)="selectItem($event, getElementById(child)?.id)"
       [checked]="isSelected(getElementById(child)?.id)"
        >{{getElementById(child)?.name}}</mat-checkbox>
    </div>
  </div>
</div>
