<div class="custom-btn-container d-flex {{classes}}">
    <div [ngClass]="{'back-success': isTrue, 'bg-secondary': !isTrue}" class="p-3 w-50 d-flex c-white"
      (click)="change(true)">
      <b class="d-flex m-auto">{{onTrue}}</b>
      <i class="material-icons float-right" [hidden]="!isTrue">
        check_circle</i></div>
    <div [ngClass]="{'bg-secondary': isTrue, 'back-success': !isTrue}" class="p-3 w-50 d-flex c-white"
      (click)="change(false)">
      <b class="d-flex m-auto">{{onFalse}}</b>
      <i class="material-icons float-right" [hidden]="isTrue">
        check_circle</i>
    </div>
  </div>