<div class="position-relative">

  <mat-card>
    <mat-card-title>
      Mes récompenses
    </mat-card-title>

    <table mat-table
           [dataSource]="dataSource"
           class="w-100">
      <!-- Name Column -->

      <ng-container matColumnDef="thumbnail_media">
        <th mat-header-cell
            *matHeaderCellDef> Thumbnail </th>
        <td mat-cell
            *matCellDef="let element">
          <div class="reward-image"
               [style.background-image]="'url(' + element.thumbnail_media.file +')'">
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef> Nom </th>
        <td mat-cell
            *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell
            *matHeaderCellDef> Description </th>
        <td mat-cell
            *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell
            *matHeaderCellDef> Quantité total </th>
        <td mat-cell
            *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef>  </th>
        <td mat-cell
            *matCellDef="let element">
            <button mat-icon-button (click)="edit(element.id)">
              <mat-icon>edit</mat-icon>
            </button> 
          </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </mat-card>


  <a mat-fab
          class="fab-button"
          routerLink="/account/rewards/new"
          matTooltip="Créer une nouvelle récompense">
    <mat-icon>add</mat-icon>
</a>

</div>
