.reward-image {
    background-origin: border-box;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
}

.fab-button {
    position: fixed;
    right: 25px;
    bottom: 45px;
}