<form [formGroup]="passwordForm">
  <mat-card class="col-xl-8 ml-auto mr-auto mb-3">

    <mat-card-title>
      <b>
        Modifier mon mot de passe
      </b>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field class="w-100 mb-2" [appearance]="matFormFieldType">
        <mat-label>Mot de passe actuel</mat-label>
        <input matInput placeholder="Mot de passe actuel" type="password" formControlName="current_password">
        <mat-error *ngIf="current_password?.errors?.required"> Ce champ est requis</mat-error>

      </mat-form-field>
      <mat-form-field class="w-100 mb-2" [appearance]="matFormFieldType">
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput placeholder="Nouveau mot de passe" type="password" formControlName="new_password" />
        <mat-hint>Veuillez choisir un mot de passe d'au moins 6 caractères comportant des chiffres et des lettres.</mat-hint>
        <mat-error *ngIf="new_password?.errors?.required"> Ce champ est requis</mat-error>
        <mat-error *ngIf="new_password?.errors?.pattern">
          Veuillez choisir un mot de passe d'au moins 6 caractères comportant des chiffres et des lettres
        </mat-error>

      </mat-form-field>
      <mat-form-field class="w-100 mb-2" [appearance]="matFormFieldType">
        <mat-label>Confirmer votre nouveau mot de passe</mat-label>
        <input matInput placeholder="Confirmer votre nouveau mot de passe" type="password" formControlName="new_password_confirm" />
        <mat-error *ngIf="new_password_confirm?.errors?.required"> Ce champ est requis</mat-error>
        <mat-error *ngIf="new_password_confirm?.errors?.pattern">
          Veuillez choisir un mot de passe d'au moins 6 caractères comportant des chiffres et des lettres
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="p-3 d-flex flex-row-reverse">
      <a mat-raised-button color="primary" class="" (click)="updatePassword()">Confirmer</a>
      <a mat-button color="warn" class="mr-5" (click)="passwordForm.reset()">Annuler</a>
    </mat-card-actions>
  </mat-card>
</form>
