<div class="row" [formGroup]="dateFormGroup">
  <mat-form-field class="col"
                  [appearance]="matFormFieldType">
    <mat-select placeholder="Jour de naissance" formControlName="day"
               >
      <mat-option>Jour</mat-option>
      <mat-option *ngFor="let d of days"
                  [value]="d">
        {{d}}
      </mat-option>
    </mat-select>
    <mat-error>
      Ce champ est requis
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col"
                  [appearance]="matFormFieldType">
    <mat-select placeholder="Mois de naissance" formControlName="month"
                >
      <mat-option>Mois</mat-option>
      <mat-option class="text-uppercase"
                  *ngFor="let m of months"
                  [value]="m.value">
        {{m.label}}
      </mat-option>
    </mat-select>
    <mat-error>
      Ce champ est requis
    </mat-error>
  </mat-form-field>

  <mat-form-field class="col"
                  [appearance]="matFormFieldType">
    <mat-select placeholder="Année de naissance" formControlName="year"
                >
      <mat-option>Année</mat-option>
      <mat-option *ngFor="let y of years"
                  [value]="y">
        {{y}}
      </mat-option>
    </mat-select>
    <mat-error>
      Ce champ est requis
    </mat-error>
  </mat-form-field>
</div>
