@import '../../../variables.scss';
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';


mat-action-row button {
  margin-right: 8px;
}

mat-panel-title,
mat-panel-description p {
  align-self: center;
}


.form-error * {
  color: red;
}

@include media-breakpoint-up(md) {
    form {
        width: 100%;
    }
}

@include media-breakpoint-up(lg) {
    form {
        width: 800px;
        margin: auto auto;
    }
}

