<div class="account-advertising-container w-100">

  <form class=""
        [formGroup]="formGroup"
        (submit)="save()">
    <mat-accordion [multi]="true">
      <mat-expansion-panel (opened)="step = 1"
                           [expanded]="step === 1 "
                           [ngClass]="{'bl-orange': step == 1}">
        <mat-expansion-panel-header [class.form-error]="hasErrors(name)">
          <mat-panel-title>
            Information de base
          </mat-panel-title>

          <mat-panel-description class="d-block">
            <span class="text-right d-block">
              Nom de votre campagne
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="w-100"
                        [appearance]="matFormFieldType">
          <mat-label>Nommez votre campagne</mat-label>
          <input matInput
                 formControlName="name"
                 maxLength="100" />
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{name?.value.length}} / 120</mat-hint>
          
          <mat-error *ngIf="name.errors?.required">Ce champ est necessaire</mat-error>
          <mat-error *ngIf="name.errors?.forbiddenName">Une de vos campagnes utilise déjà ce nom. Veuillez en choisir un autre</mat-error>
        </mat-form-field>

        <mat-action-row>
          <a mat-button
             color="warn"
             class="mr-5"
             [routerLink]="['/account', 'advertising-dashboard']"
             routerLinkActive="router-link-active">Annuler</a>

          <button mat-raised-button
                  color="accent"
                  (click)="nextStep($event)">Suivant</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="step = 2"
                           [expanded]="step === 2"
                           [ngClass]="{'bl-orange': step === 2}">
        <mat-expansion-panel-header [class.form-error]="hasErrors(thumbnail_media, video_media, redirect_url)">
          <mat-panel-title>
            Votre media
          </mat-panel-title>

          <mat-panel-description class="d-block">
            <span class="text-right d-block">
              Importez votre vidéo et votre image de couverture
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="p-3 d-flex w-100 flex-column">
          <p>
            Importez une image de couverture: dimensions recommandés 640px x 480px. Poids maximal: 300Ko.
          </p>

          <app-file-upload (fileUploadChange)="fileUploadChange($event, 'thumbnail_media')"
                           (fileInfoChange)="fileInfoChange($event)"
                           [fileType]="'image'"
                           class="w-100"
                           [fileFormGroup]="thumbnail_media"
                           [filePreviewSrc]="thumbnail_media?.value.localFile ? null : thumbnail_media?.value.file">
          </app-file-upload>
        </div>

        <div class="p-3 d-flex w-100 flex-column">
          <p>
            Importez votre vidéo: dimensions recommandés 640px x 480px. Poids maximal: 3Mo. Durée maximal: 30s.
            La longeur maximal peut être augmenter sur la base du CPV par défaut (0.10 € pour 20 secondes sans compter
            le CPV max pour remporter une enchère de diffusion).
          </p>

          <app-file-upload (fileUploadChange)="fileUploadChange($event, 'video_media')"
                           (fileInfoChange)="fileInfoChange($event)"
                           [fileType]="'video'"
                           class="w-100"
                           [fileFormGroup]="video_media"
                           [filePreviewSrc]="video_media?.value.localFile ? null : video_media?.value.file">
          </app-file-upload>
        </div>

        <div class="alert alert-info">
          L'image de couverture sera visible jusqu'à ce que l'utilisateur clique sur la vidéo pour la jouer.
        </div>

        <mat-form-field class="w-100"
                        [appearance]="matFormFieldType">
          <mat-label>Url de redirection pour l'utilisateur</mat-label>
          <mat-icon matPrefix>public</mat-icon>
          <input matInput
                 formControlName="redirect_url"
                 maxlength="140" />
          <mat-hint align="start">Url vers lequel rediriger l'utilisateur s'il souhaite être redirigé vers votre
            produit ou marque.</mat-hint>
          <mat-error *ngIf="redirect_url.errors?.required">Ce champ est requis pour rediriger l'utilisateur vers votre
            produit ou marque</mat-error>
          <mat-error *ngIf="redirect_url.errors?.incorrectUrl">N'est pas un lien URL valide</mat-error>
        </mat-form-field>

        <mat-action-row>
          <a mat-button
             color="warn"
             class="mr-5"
             [routerLink]="['/account', 'advertising-dashboard']"
             routerLinkActive="router-link-active">Annuler</a>

          <button mat-raised-button
                  (click)="nextStep($event)">Suivant</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel class=""
                           (opened)="step = 3"
                           [expanded]="step === 3"
                           [ngClass]="{'bl-orange': step == 3}">
        <mat-expansion-panel-header [class.form-error]="hasErrors(start_at, end_at)">
          <mat-panel-title>
            Dates de diffusions
          </mat-panel-title>

          <mat-panel-description class="d-block">
            <span class="text-right d-block">
              Vous pouvez renseigner ici une date de début et de fin de diffusion
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="!(!isNew && hasStarted())">
          <app-choices-button [id]="'choices-1'"
                              [classes]="'mb-3'"
                              [onFalse]="'Débuter la campagne dés son approbation'"
                              [onTrue]="'Débuter à une date précise'"
                              (changed)="enableStartAt($event)"></app-choices-button>

          <mat-form-field class="w-100"
                          [appearance]="matFormFieldType"
                          *ngIf="enable_start_at.value">
            <mat-label>Date de début de diffusion programmé</mat-label>
            <input matInput
                   [matDatepicker]="startDatePicker"
                   placeholder="DD/MM/YYYY"
                   name="start_at"
                   [disabled]="hasStarted() && !isNew"
                   formControlName="start_at" />
            <mat-datepicker-toggle matSuffix
                                   [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker
                            (change)="change()"></mat-datepicker>
            <mat-error>Ce champ est requis</mat-error>
          </mat-form-field>

          <div class="alert alert-info">
            L'aprobation d'une campagne se fait par notre équipe dans un délais de 24h.
          </div>
        </div>

        <div class="alert alert-warning"
             *ngIf="!isNew && hasStarted()">
          Vous ne pouvez pas changer la date de commencement d'une campagne ayant déjà débuté.
        </div>

        <app-choices-button [id]="'choices-2'"
                            [classes]="'mb-3'"
                            [onTrue]="'Fin de diffusion à une date précise'"
                            [onFalse]="'Diffusion jusqu\'à épuisement du solde'"
                            (changed)="enableEndAt($event)"></app-choices-button>

        <mat-form-field class="w-100"
                        [appearance]="matFormFieldType"
                        *ngIf="enable_end_at.value">
          <mat-label>Date de fin de diffusion</mat-label>
          <input matInput
                 [matDatepicker]="endDatePicker"
                 placeholder="JJ/MM/AAAA"
                 formControlName="end_at" />
          <mat-datepicker-toggle matSuffix
                                 [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>

        <div class="alert alert-info">
          A la date de fin de diffusion, il se peut que votre solde soit toujours positif.
          Dans ce cas, vous pouvez nous contacter pour vous faire rembourser la somme restante.
          Vous pouvez également la laisser disponible pour vos prochaines campagnes.
        </div>

        <mat-action-row>
          <a mat-button
             color="warn"
             class="mr-5"
             [routerLink]="['/account', 'advertising-dashboard']"
             routerLinkActive="router-link-active">Annuler</a>

          <button mat-raised-button
                  (click)="nextStep($event)">Suivant</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="step = 4"
                           [expanded]="step === 4"
                           [ngClass]="{'bl-orange': step == 4}">
        <mat-expansion-panel-header [class.form-error]="hasErrors(audiences, categories, demographic_datas)">
          <mat-panel-title>
            Thèmes et Audience
          </mat-panel-title>

          <mat-panel-description class="d-block">
            <span class="text-right d-block">
              Categories du contenue, et type d'audience
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
          <div class="mb-4">
            <p class="mb-1">
              Données démographique des utilisateurs potentiels
            </p>
            <app-demographic-data (selectedDemographicData)="selectedDemographicDataChange($event)">
            </app-demographic-data>
            <mat-error *ngIf="demographic_datas.errors?.required">
              Ce champ est requis
            </mat-error>
          </div>

          <p class="mb-1">Selectionnez les thèmes en relations avec vos produits, vos marques ou vos annonces.</p>
          <app-category-selector (selectedIdsChange)="selectCategory($event)"
                                 [type]="'category'"
                                 [selectedIds]="!!categories.value ? categories.value : []"
                                 [hasError]="categories.errors?.minListLength">
          </app-category-selector>
          <mat-error *ngIf="categories.errors?.minListLength">Veuillez selectionner au moins 1 éléments</mat-error>
        </div>

        <div class="mt-3 mb-4">
          <p>Selectionnez les catégories d'audiences susceptible d'être intéressé par vos produits, vos marques ou vos
            annonces </p>
          <app-category-selector (selectedIdsChange)="selectAudience($event)"
                                 [type]="'audience'"
                                 [selectedIds]="!!audiences.value ? audiences.value : []"
                                 [hasError]="audiences.errors?.minListLength">
          </app-category-selector>
          <mat-error *ngIf="audiences.errors?.minListLength">Veuillez selectionner au moins 1 éléments</mat-error>
        </div>

        <mat-action-row>
          <a mat-button
             color="warn"
             class="mr-5"
             [routerLink]="['/account', 'advertising-dashboard']"
             routerLinkActive="router-link-active">Annuler</a>

          <button mat-raised-button
                  (click)="nextStep($event)">Suivant</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="step = 5"
                           [expanded]="step === 5"
                           [ngClass]="{'bl-orange': step == 5}">
        <mat-expansion-panel-header [class.form-error]="hasErrors(countries, languages)">
          <mat-panel-title>
            Pays et languages
          </mat-panel-title>

          <mat-panel-description class="d-block">
            <span class="text-right d-block">
              Langues et pays de diffusion
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-multiple-value-selector valueProperty="code"
                                     nameProperty="name"
                                     selectionType="country"
                                     [matFormFieldType]="matFormFieldType"
                                     (valueChange)="updateSelectedCountries($event)"
                                     [selectedValues]="countries.value">
        </app-multiple-value-selector>

        <app-multiple-value-selector valueProperty="locale"
                                     nameProperty="name"
                                     selectionType="language"
                                     [matFormFieldType]="matFormFieldType"
                                     (valueChange)="updateSelectedLanguages($event)"
                                     [selectedValues]="languages.value">
        </app-multiple-value-selector>

        <mat-action-row>
          <a mat-button
             color="warn"
             class="mr-5"
             [routerLink]="['/account', 'advertising-dashboard']"
             routerLinkActive="router-link-active">Annuler</a>

          <button mat-raised-button
                  (click)="nextStep($event)">Suivant</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="step = 6"
                           [expanded]="step === 6"
                           [ngClass]="{'bl-orange': step == 6}">
        <mat-expansion-panel-header [class.form-error]="hasErrors(target_view, cost_per_view)">
          <mat-panel-title>
            Budget
          </mat-panel-title>

          <mat-panel-description class="d-block">
            <span class="text-right d-block">
              Définisez le montant à investir pour votre campagne
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-choices-button [classes]="'mb-3'"
                            [isTrue]="target_view_per_day.value"
                            [onTrue]="'Nombre de vue quotidien'"
                            [onFalse]="'Nombre de vue sur toute la période'"
                            (changed)="changeTargetViewType($event)"></app-choices-button>

        <div class="d-flex">
          <!-- <div class="w-50 mb-3" *ngIf="!model.target_view_per_day">
            <mat-label>Nombre de vue total souhaité : <b>{{model.target_view | number}}</b></mat-label>
            <mat-slider class="w-100" [min]="1000" [max]="100000" [step]="1000" [thumbLabel]="true" [(ngModel)]="model.target_view"
              name="target_view"></mat-slider>
            <mat-hint>min: 1,000 - max: 100,000</mat-hint> <br>
            <mat-hint>Vous pouvez utiliser les flèches de votre clavier pour bouger le curseur</mat-hint>
          </div>
          <div class="w-50 mb-3" *ngIf="model.target_view_per_day">
            <mat-label>Nombre de vue par jour souhaité : <b>{{model.target_view | number}}</b></mat-label>
            <mat-slider class="w-100" [min]="50" [max]="10000" [step]="50" [thumbLabel]="true" [(ngModel)]="model.target_view"
              name="target_view"></mat-slider>
            <mat-hint>min: 50 - max: 10,000</mat-hint> <br>
            <mat-hint>Vous pouvez utiliser les flèches de votre clavier pour bouger le curseur</mat-hint>
          </div> -->
          <mat-form-field class="w-100 mb-3 mr-2"
                          [appearance]="matFormFieldType">
            <mat-label>Nombre de vue {{model.target_view_per_day ? 'par jour maximum': 'total'}} souhaité </mat-label>
            <input matInput
                   type="number"
                   class="w-100"
                   formControlName="target_view" />
            <mat-hint>Chaque vue complète est facturé 0.10 € HT (par défaut pour 20s de vidéo)</mat-hint>
            <mat-error>Ce champ est requis</mat-error>
          </mat-form-field>

          <mat-form-field class="w-50"
                          [appearance]="matFormFieldType">
            <mat-label>Enchère maximum par vue</mat-label>
            <mat-select #fontSize
                        value="0.10"
                        formControlName="cost_per_view">
              <mat-option value="{{x}}"
                          *ngFor="let x of cpvRange">{{x}}</mat-option>
            </mat-select>
            <mat-error>Ce champ est requis</mat-error>
          </mat-form-field>

        </div>

        <div class="alert alert-info">
          Ces niveaux peuvent ne pas être atteint avec une limite de temp définie, que ce soit par jour ou avec
          une date de fin de diffusion définie.
        </div>


        <!-- <div class="w-100 mb-3">
          <h4>Estimation des coùts {{model.target_view_per_day? 'Quotidien':'Total'}} (HT) : 
            <strong>{{model.cost_per_view * model.target_view | number: '1.2-2'}}</strong>
          </h4>
        </div> -->
        <div class="alert alert-danger"
             *ngIf="formGroup.invalid && formGroup.dirty && formGroup.touched">
          Des données sont à corriger dans le formulaire
          {{formGroup.errors}}
        </div>
        <mat-action-row>
          <a mat-button
             color="warn"
             class="mr-5"
             [routerLink]="['/account', 'advertising-dashboard']"
             routerLinkActive="router-link-active">Annuler</a>

          <button mat-raised-button
                  type="submit">Enregistrer</button>
        </mat-action-row>
      </mat-expansion-panel>




    </mat-accordion>
  </form>
</div>
