:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
  }

  mat-card {
    margin: auto;
  }

  mat-form-field {
    &.ng-invalid.mat-form-field-invalid {
        margin-bottom: 15px;
    }
}