<mat-card> 
    <mat-card-title>
      Récuperez votre mot de passe
    </mat-card-title>

    <mat-card-content>
      <form [formGroup]="resetPasswordForm">

      <div class="alert alert-info hidden" *ngIf="passwordResetMailAlert">
        Un email de récupération pour votre mot de passe vous a été envoyé. 
        <!-- Vérifié -->
      </div>
      <mat-form-field class="w-100" [appearance]="matFormFieldType">
          <mat-label>Renseignez votre email</mat-label>
          <input matInput formControlName="email" >
        <mat-error *ngIf="hasError(resetEmail, 'required')">Ce champ est requis</mat-error>

        </mat-form-field>
        <button mat-raised-button class="w-100 mt-2 mb-2 back-gradient-orange" (click)="resetPassword()">Valider</button>
        <button mat-button routerLink="/auth/login">Retour</button>
      </form>

    </mat-card-content>
  </mat-card>