/* You can add global styles to this file, and also import other style files */

// @import "~$angular/material/prebuilt-themes/indigo-pink.css";
// $import 'node_modules/angular2-toaster/toaster';
@import '~ngx-toastr/toastr.css';

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import './theme.scss';

@import './variables.scss';

body, 
mat-card:not(.material-icons), 
mat-toolbar *:not(.material-icons), 
.mat-list-item *, 
.mat-button *:not(.material-icons), 
.mat-raised-button *:not(.material-icons),
.mat-accordion *:not(.material-icons),
.personnal-font *:not(.material-icons),
.personnal-font {
    // font-family: 'Varela Round', sans-serif;
    // font-family: 'Signika', sans-serif;
    // font-family: 'Catamaran', sans-serif;
    font-family: 'Open Sans', sans-serif !important;
}

.c-orange {
    color: $orange;
}

body {
    min-height: 100vh;
}

.back-orange {
    background-color: $orange;
}

.c-white, .c-white * {
    color: white;
}

.bl-orange {
    border-left: solid 4px $orange;
}

.back-gradient-orange {
    background-image: linear-gradient(to bottom,#F32E06,#CD2207);
    * {
        color: white;
        font-weight: 600;
    }
    &:hover {
        background-image: linear-gradient(to top,#F32E06,#CD2207);
    }
}

.cursor-pointer {
    cursor: pointer;
}

a.a-underline:not([href]):hover {
    text-decoration: underline;
}

.title-4 {
    font-size: 22px;
}

.margin-bottom.ng-invalid {
    margin-bottom: 1.5rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
