@import '../node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$mat-blue: $mat-blue-gray;

$mat-orange: $mat-deep-orange;

$red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1717,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// @function mat-light-theme($primary, $accent, $warn: mat-palette($mat-red), $secondary: $mat-orange) {
//   @return (
//     primary: $primary,
//     accent: $accent,
//     secondary: $secondary,
//     warn: $warn,
//     is-dark: false,
//     foreground: $mat-light-theme-foreground,
//     background: $mat-light-theme-background,
//   );
// }



$candy-app-primary: mat-palette($mat-blue);

$candy-app-accent:  mat-palette($mat-orange, A200, A100, A400);

$candy-app-secondary: mat-palette($mat-cyan);
// The warn palette is optional (defaults to red).
// $candy-app-warn: mat-palette($mat-red, A400, A400, A400);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);