$orange: #ff5722;
$orange9: rgba(191,54,12 ,1);
$orange8: rgba(255, 87, 34, 0.8);
$orange5: rgba(255, 87, 34, 0.5);
$orange6: rgba(255, 87, 34, 0.6);
$orange3: rgba(255, 87, 34, 0.3);
$orange1: rgba(255, 87, 34, 0.15);
$orange11: rgba(255,171,145 ,1);
$orange13: rgba(255,138,101 ,1);
$orange14: rgba(255,112,67,1);
$orange16: rgba(244,81,30 ,1);
$blue: #2c3e50;
$bluee: #7986CB;
$blue9: rgba(44, 62, 80, 0.9);
$blue7: rgba(44, 62, 80, 0.7);
$blue5: rgba(44, 62, 80, 0.5);
$blue3: rgba(44, 62, 80, 0.3);
$blue2: rgba(44, 62, 80, 0.2);
$blue1: rgba(44, 62, 80, 0.1);

$white1: rgba(255, 255, 255,1);
$white1: rgba(230, 230, 210,1);
