<div id="home-container">
  <app-menu [showMenuType]="'homeMenu'"></app-menu>
  <div id="background-container">
  </div>
  <div id="jumbo" class="m-auto">
    <div class="">
      <h1 class="m-auto w-auto">
        <b>
          MeeTip : la plateform de référence pour les videastes et autres createurs de contenus.
        </b>
      </h1>
      <br>
      <h4 class="m-auto w-auto">
        <b>
          Inscris-toi dès maintenant et met ta communauté à contribution avec seulement 30 secondes de leur temps, tout simplement.
        </b>
      </h4>
    </div>
    <!-- <div class="row h-100" id="jumbo-inside">
      <div class="col">

        <h1 class="left-part display-4">Nos Objectifs</h1>
      </div>
      <div class="col">
        <div class="right-part">

          <p class="lead" style="color: #3b5999">Aider la création sur internet.</p>
          <p class="lead" style="color: #00b489">Rendre la publicité utile et attrayante.</p>
          <p class="lead" style="color: #e4405f;">Engager les internautes pour leur creatrice ou créateur préferer.</p>
        </div>
      </div>
    </div> -->
    <div id="register-button-container" class="">
      <button mat-raised-button class="m-auto" routerLink="/register">Je m'inscris !</button>
    </div>
  </div>

  <div id="creator-part" class="d-flex flex-column">
    <div class="row">
      <div class="col">

        <p class="text-center">
          <i>Createur de contenu pourquoi utiliser eTip ?</i>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="icon-item col-sm-6 col-xl-3">
        <i class="material-icons wide-icon">
          notifications
        </i>
        <p class="text-center">Fidelisé votre public qui choisi de visionner une publicité.</p>
      </div>
      <div class="icon-item col-sm-6 col-xl-3">
        <i class="material-icons wide-icon">
          link_off
        </i>
        <p class="text-center">Liberez-vous des sponsors encombrants.</p>
      </div>
      <div class="icon-item col-sm-6 col-xl-3">
        <i class="material-icons wide-icon">
          all_inclusive
        </i>
        <p class="text-center">Créer sans limite, on s'occupe du reste.</p>
      </div>
      <div class="icon-item col-sm-6 col-xl-3">
        <i class="material-icons wide-icon">
          timer
        </i>
        <p class="text-center">Créer votre compte en 30s.</p>
      </div>
    </div>

  </div>

  <div id="announcer-part" class="d-flex flex-column">
    <div class="row">
      <div class="col">

        <p class="text-center">
          <i>Annonceur pourquoi utiliser eTip ?</i>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="icon-item col-sm-4">
        <i class="material-icons wide-icon">
          touch_app
        </i>
        <p class="text-center">Un public attentif qui choisi de visionner une publicité.</p>
      </div>
      <div class="icon-item col-sm-4 ">
        <i class="material-icons wide-icon">
          videocam
        </i>
        <p class="text-center">Annonce exclusivement par média video qui vous garantie un maximum de visibilité.</p>
      </div>
      <div class="icon-item col-sm-4 ">
        <i class="material-icons wide-icon">
          trending_up
        </i>
        <p class="text-center">Atteigné facilement vos objectifs avec nos partenaires créateurs.</p>
      </div>
    </div>
  </div>

  <div id="community-part" class="d-flex flex-column">
    <div class="row">
      <div class="col">
        <p class="text-center">
          <i>Internautes pourquoi passer par eTip ?</i>
        </p>
      </div>

    </div>
    <div class="row">
      <div class="icon-item col-sm-6 col-xl-3">
        <i class="material-icons wide-icon">
          people
        </i>
        <p class="text-center">Vous faite partie d'une communauté ? Soutenez vos personnalitées preférés.
        </p>
      </div>
      <div class="icon-item col-sm-6 col-xl-3">
        <i class="material-icons wide-icon">
          money_off
        </i>
        <p class="text-center">Service gratuit et non intrusif.</p>
      </div>
      <div class="icon-item col-sm-6 col-xl-3">
        <i class="material-icons wide-icon">
          forward_30
        </i>
        <p class="text-center">Seulement 30s de votre temps suffit.</p>
      </div>
      <div class="icon-item col-sm-6 col-xl-3">
        <i class="fas fa-user-secret wide-icon"></i>
        <p class="text-center">Contribuer anonymement, ou créez un compte pour les suivre.
        </p>
      </div>
    </div>


  </div>
