<div id="account-container" class="h-100 d-flex flex-column">
  <app-menu (openSideNav)="toggleMenu()" [showSideNavBtn]="true" [title]="menuTitle" [showMenuType]="'accountMenu'">
  </app-menu>
  <mat-drawer-container class="mt-5" [hasBackdrop]="drawer.hasBackDrop">
    <mat-drawer [mode]="drawer.mode" #accountSideNav class="p-sm-3 p-md-5" position="start"
      [class.bg-transparent]="!drawer.hasBackDrop" [class.p-5]="!drawer.hasBackDrop" [opened]="drawer.isOpen">
      <mat-card class="">

        <mat-list class="w-100">

          <ng-container *ngFor="let route_ of commonPages ">
            <ng-container *ngTemplateOutlet="linkTemplate; context: { 'route': route_}">
            </ng-container>
          </ng-container>

           <!-- <ng-container *ngIf="!user.is_creator && !user.is_announcer"> -->
            <ng-container *ngFor="let route_ of userPages ">
              <ng-container *ngTemplateOutlet="linkTemplate; context: { 'route': route_}">
              </ng-container>
            </ng-container>
          <!-- </ng-container> -->

          <!-- <ng-container *ngIf="user.is_creator"> -->
            <ng-container *ngFor="let route_ of creatorPages ">
              <ng-container *ngTemplateOutlet="linkTemplate; context: { 'route': route_}">
              </ng-container>
            </ng-container>
          <!-- </ng-container> -->

          <!-- <ng-container *ngIf="user.is_announcer"> -->
            <ng-container *ngFor="let route_ of announcerPages ">
              <ng-container *ngTemplateOutlet="linkTemplate; context: { 'route': route_}">
              </ng-container>
            </ng-container>
          <!-- </ng-container>  -->

        </mat-list>
      </mat-card>

    </mat-drawer>

    <mat-drawer-content class="p-1 p-md-4 p-lg-5">

      <router-outlet></router-outlet>
    </mat-drawer-content>


  </mat-drawer-container>

</div>

<ng-template #linkTemplate let-link="route">
  <mat-list-item>
    <a [routerLink]="link.route" class="d-block w-100">{{link.label}}</a>
  </mat-list-item>

  <mat-divider></mat-divider>
</ng-template>