#account-container {
    background-color: #aaa;
    // position: absolute;
    // top:  48px;
    // bottom: 0;
    // height: 100%;
    flex: 1;
    overflow: hidden;
    
}

:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

mat-drawer-container {
    // position: absolute;
    // top: 48px;
    // bottom: 35px;
    // z-index: 0;
    flex: 1;
    overflow: hidden;
    background-color: #bbb;
    mat-drawer {

        mat-drawer-content {
            overflow: auto;
        }
    }
}