<mat-form-field class="w-100"
                [appearance]="matFormFieldType">
  <mat-label>{{selectionType === 'country' ? 'Pays' : 'Languages'}}</mat-label>

  <mat-chip-list #chipList>
    <mat-chip *ngFor="let element of selectedElements"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(element)">
      {{element[nameProperty]}}
      <mat-icon matChipRemove
                *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input [placeholder]="selectionType == 'country' ? 'Pays' : 'Languages'"
           #input
           [formControl]="control"
           [matAutocomplete]="auto"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete"
                    (optionSelected)="selected($event)">
    <mat-option *ngFor="let elt of filteredElements  | async"
                [value]="elt[valueProperty]">
      {{elt[nameProperty]}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
