<div id="account-campaign-container"
     class="w-100">
  <form class="p-3 col-xl-8 ml-auto mr-auto"
        [formGroup]="campaignFormGrp">
    <!-- (submit)="saveOrUpdate()" -->

    <mat-card>
      <mat-card-title>
        <span>Ma campagne</span>
        <span *ngIf="model.id"
              class="float-right">
          <h6 class="d-inline">
            <a [routerLink]="['/', model.url]">Aperçu</a>
          </h6>
        </span>
      </mat-card-title>
      <mat-card-content>
        <div class="alert alert-warning"
             role="alert"
             *ngIf="model.id && !model.is_activable && !isUpdate">
          Votre campaign est créée. Pour qu'elle puisse être mise en ligne, elle
          est d'abord vérifié par notre équipe.
          <br />
          Vous serez informé de sa mise en ligne rapidement. Merci de votre
          comprehension.
        </div>
        <mat-form-field class="w-100 mb-3"
                        [appearance]="matFormFieldType">
          <mat-label>Donne un nom à ta campagne</mat-label>
          <input matInput
                 name="name"
                 formControlName="name"
                 maxLength="40"
                 (keypress.enter)="$event.preventDefault()" />
          <mat-hint>Ce nom sera visible par les utilisateurs, il n'est pas nécessaire
            qu'il soit unique.</mat-hint>
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
        <div class="row mb-3">
          <mat-form-field class="col-sm-8"
                          [appearance]="matFormFieldType">
            <mat-label>Renseigne une Url personnalisée</mat-label>
            <input matInput
                   name="url"
                   formControlName="url"
                   (keypress.enter)="$event.preventDefault()" />
            <!-- <mat-icon matSuffix>check_circle</mat-icon> -->
            <mat-hint>Une url valide et unique ne peut contenir que les caractères
              <code>[A-Z]</code> ou <code>[a-z]</code> ou <code>[0-9]</code> ou
              <code>[_ - .]</code> .</mat-hint>
            <mat-error *ngIf="url?.errors?.required">Ce champ est requis</mat-error>
            <mat-error *ngIf="url?.errors?.pattern">Caratères interdit ! Seul sont autorisé: <code>[A-Z]</code> ou
              <code>[a-z]</code> ou <code>[0-9]</code> ou
              <code>[_ - .]</code> .</mat-error>
            <mat-error *ngIf="url?.errors?.minlength">Au moins 4 caractères attendu</mat-error>
            <mat-error *ngIf="url?.errors?.maxlength">Au maximum 25 caractères attendu</mat-error>
            <!-- <mat-error>Ce champ est requis</mat-error> -->
          </mat-form-field>
          <div class="col-sm-4"
               id="verify-url-btn-container">
            <button mat-raised-button
                    id="verify-url-btn"
                    class="w-100"
                    (click)="verifyUrl()">
              Verifié l'url
            </button>
          </div>
        </div>

        <mat-form-field class="w-100 mb-3"
                        [appearance]="matFormFieldType">
          <mat-label>Une courte description pour cette campagne</mat-label>
          <input matInput
                 name="description"
                 maxlength="140"
                 formControlName="description"
                 (keypress.enter)="$event.preventDefault()" />
          <mat-hint align="start">La description s'affichera directement sous le nom de la
            campagne</mat-hint>
          <mat-hint align="end">{{ model.description?.length }} / 140</mat-hint>
        </mat-form-field>
        <mat-form-field class="w-100 mb-3"
                        [appearance]="matFormFieldType">
          <mat-label>Message de remerciement</mat-label>
          <input matInput
                 name="thanks_message"
                 formControlName="thanks_message"
                 (keypress.enter)="$event.preventDefault()" />
          <mat-hint>Ce message s'affichera à la fin de la lecture de la pub
            vidéo</mat-hint>
        </mat-form-field>

        <div class="row image-container mb-3">
          <div class="p-3 d-flex w-100 flex-column">
            <p>
              Importez une image de bannière: dimensions recommandées 1920px x
              400px. Poids maximal: 500ko.
            </p>
            <app-file-upload (fileUploadChange)="fileUploadChange($event, 'banner_media')"
                             [fileType]="'image'"
                             class="w-100"
                             [fileFormGroup]="banner_media"
                             >
            </app-file-upload>

          </div>

          <div class="p-3 d-flex w-100 flex-column">
            <p>
              Importez une image de profile: dimensions recommandées 300px x 300px.
              Poids maximal: 200ko.
            </p>
            <app-file-upload (fileUploadChange)="fileUploadChange($event, 'thumbnail_media')"
                             [fileType]="'image'"
                             [fileFormGroup]="thumbnail_media"
                             
                             class="w-100">
            </app-file-upload>
          </div>
        </div>

        <mat-form-field class="w-100 mb-3"
                        [appearance]="matFormFieldType">
          <mat-label>Montant de l'objectif à atteindre</mat-label>
          <input matInput
                 name="objective_amount"
                 type="number"
                 formControlName="objective_amount"
                 (keypress.enter)="$event.preventDefault()" />
          <span matPrefix
                class="h6"><i class="material-icons">euro_symbol</i> &nbsp;</span>

          <mat-hint>Tu peux inscire dans cette case le montant que tu souhaite
            atteindre pour cette campaign (mensuel ou non)</mat-hint>
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mb-3"
                        [appearance]="matFormFieldType">
          <mat-label>Nombre d'utilisateur potentiel</mat-label>
          <input matInput
                 name="potential_users"
                 type="number"
                 formControlName="potential_users"
                 (keypress.enter)="$event.preventDefault()" />

          <mat-hint>Donne une estimation du nombre de personne susceptible de te
            soutenir par ce service (nombre d'abonnés ou de followers par
            exemple)</mat-hint>
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
        <div class="mb-3">
          <app-choices-button [onTrue]="'Campagne mensuel'"
                              [onFalse]="'Campagne unique'"
                              [isTrue]="is_monthly?.value"
                              (changed)="setIsMonthly($event)">
          </app-choices-button>

          <br />
          <div class="alert alert-info"
               role="alert">
            <mat-hint>
              Une
              <b>campagne mensuel</b> reste disponible sans limite de temps
              quelque-soit le montant atteint ou l'objectif, et est remise a
              zéro tous les mois.
            </mat-hint>
            <br />
            <mat-hint>
              Une
              <b>campagne unique</b> se termine soit à la date de fin de
              campagne si elle est précisé, soit lorsque l'objectif est
              atteint.</mat-hint>
          </div>
        </div>
        <mat-form-field class="w-100 mb-2"
                        [appearance]="matFormFieldType"
                        *ngIf="!is_monthly?.value">
          <mat-label>Date de fin de campagne</mat-label>
          <input matInput
                 [min]="todayDate()"
                 [matDatepicker]="picker"
                 placeholder="Date de fin de campagne"
                 name="end_date"
                 formControlName="end_date"
                 (keypress.enter)="$event.preventDefault()" />
          <mat-datepicker-toggle matSuffix
                                 [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Ce paramètres est requis</mat-error>
        </mat-form-field>

        <div class="mb-3 mt-3">
          <app-choices-button [onTrue]="'Activer la campagne'"
                              [onFalse]="'Désactiver la campagne'"
                              [isTrue]="is_active?.value"
                              (changed)="is_active.setValue($event)">
          </app-choices-button>

          <br />
          <div class="alert alert-info"
               role="alert">
            <mat-hint>Tu peux <b>activer</b> ta campagne dès maintenant, ou tu peux
              également la préparer pour une activation ultérieur.</mat-hint>
          </div>
        </div>
      </mat-card-content>
    </mat-card>


    <mat-card class="mt-3">
      <mat-card-title>
        Thèmes et audiences
      </mat-card-title>
      <mat-card-content>
        <div class="mb-4">
          <p class="mb-1">Données démographique de votre audience</p>
          <app-demographic-data [selectedItems]="demographic_data.value"
                                (selectedDemographicData)="demographic_data.setValue($event)"></app-demographic-data>
          <mat-error class="mt-1"
                     *ngIf="demographic_data?.errors && demographic_data?.touched && demographic_data?.dirty">
            Veuillez selectionner au moins un elements dans la liste</mat-error>
        </div>

        <div class="mb-4">
          <p class="mb-1">
            Choisissez les catégories de thèmes susceptible d'interesser votre
            audience au maximum. C'est ce paramètre qui conditionneras les
            annonces affichés sur la page de votre campagne personnalisée.
            Vous pouvez y mettre par exemple les thèmes que vous
            abordé dans vos contenues.
          </p>
          <app-category-selector (selectedIdsChange)="selectCategory($event)"
                                 [selectedIds]="categories.value"
                                 [type]="'category'">
          </app-category-selector>
          <mat-error class="mt-1"
                     *ngIf="categories?.errors && categories?.touched && categories?.dirty">Veuillez sélectionner au
            moins un elements dans la liste</mat-error>
        </div>


        <div class="mb-4">
          <p class="mb-1">
            Choissisez les catégories d'annonces susceptible d'interreser votre
            audience au maximum. C'est ce paramètre qui conditionneras les
            annonces affichés sur la page de votre campaigne personnalisée.
          </p>
          <app-category-selector (selectedIdsChange)="selectAudience($event)"
                                 [selectedIds]="audiences.value"
                                 [type]="'audience'">
          </app-category-selector>
          <mat-error class="mt-1"
                     *ngIf="audiences.errors && audiences.touched && audiences.dirty">Veuillez selectionner au
            moins un elements dans la liste</mat-error>
        </div>

      </mat-card-content>
    </mat-card>

    <mat-card class="mt-3">
      <mat-card-title>
        Recompenses
      </mat-card-title>
      <mat-card-content>
        <p class="d-flex">
          Liste ci-dessous les récompenses que tu veux associé à ta campagne
          <button class="float-right"
                  (click)="addReward()">Ajouter une récompense</button>
        </p>
        <div *ngFor="let reward of rewards.controls; index as i"
             class="d-flex"
             [ngClass]="{'border-top pt-3': i >0 }"
             formArrayName="rewards">

          <div [formGroupName]="i">
            <!-- <div class="w-25">
              <div class="image-parent w-50">
                <img [src]="rewards[i].imageLoaded"
                     class="img-thumbnail"
                     *ngIf="rewards[i].imageLoaded" />
                <div class="img-thumbnail"
                     *ngIf="!rewards[i].imageLoaded"></div>
              </div>

              <label class="w-100">
                Image de la récompense
                <input class="w-100"
                       type="file"
                       (change)="rewardFileEvent($event, i)"
                       name="reward-image"
                       accept="image/*" />
              </label>
            </div> -->

            <p>Image de la récompense</p>
            <app-file-upload (fileUploadChange)="fileUploadChange($event, 'thumbnail_media')"
                             [fileType]="'image'"
                             [fileFormGroup]="thumbnail_media"
                             class="w-100">
            </app-file-upload>


            <div class="">
              <mat-form-field class="w-100 mb-3"
                              [appearance]="matFormFieldType">
                <mat-label>Nom</mat-label>

                <input matInput
                       formControlName="name"
                       name="rewardName" />
                <mat-hint></mat-hint>
              </mat-form-field>

              <mat-form-field class="w-100 mb-3"
                              [appearance]="matFormFieldType">
                <mat-label>Quantitée disponible</mat-label>
                <input matInput
                       formControlName="quantity"
                       name="rewardQuantity" />
                <mat-hint></mat-hint>
              </mat-form-field>

              <mat-form-field class="w-100 mb-3"
                              [appearance]="matFormFieldType">
                <mat-label>Description</mat-label>
                <input matInput
                       formControlName="description"
                       name="rewardDescription" />
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>

          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mt-3">
      <mat-card-title>
        Paramètres visuel
      </mat-card-title>
      <mat-card-content>
        <app-choices-button [onTrue]="'Afficher le montant de l\'objectif'"
                            [onFalse]="'Ne pas afficher le montant de l\'objectif'"
                            [isTrue]="show_objective_amount.value"
                            (changed)="show_objective_amount.setValue($event)"></app-choices-button>

        <div class="mb-3">
        </div>

        <app-choices-button [onTrue]="'Afficher le solde courant du mois'"
                            [onFalse]="'Ne pas afficher le solde courant du mois'"
                            [isTrue]="show_current_amount"
                            (changed)="show_current_amount.setValue($event)"></app-choices-button>

        <div class="alert alert-info mt-3"
             role="alert">
          <mat-hint>
            Ces options d'affichages permettrons aux utilisateurs de voir ces
            informations à coté du titre de la campagne.
            <br />
            Si elles sont désactivé, l'utilisateur ne verra qu'un graphe
            représentant l'avancé du solde de la campagne par rapport à
            l'objectif annoncé sans plus de précisions.
          </mat-hint>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mt-3 h-auto">
      <a mat-raised-button
         class="w-100 p-2 h4 save-button"
         *ngIf="!isUpdate"
         [disabled]="isDisabled()"
         (click)="saveOrUpdate()">
        <b class="h4 font-weight-bold m-2">Enregistrer</b>
      </a>
      <a mat-raised-button
         class="w-100 p-2 h4 save-button"
         color="primary"
         *ngIf="isUpdate"
         (click)="saveOrUpdate()"
         [disabled]="isDisabled()">
        <b class="h4 font-weight-bold m-2">Mettre à jour</b>
      </a>
    </mat-card>
  </form>
</div>
