@import "../../../variables.scss";

.image-container {


    .image-parent {
    // max-height: 15vh;
    // max-width: 25vh;

        .img-thumbnail{
            min-height: 50px;
        }
        img {
            max-height: 200px;
       
        // max-width: 200px; 
        }
    }
}

#verify-url-btn-container {
    height: 76px;
}

#verify-url-btn {
    height: 51px;
    margin-top: 0.25rem;
    background-color: $orange;
    color: white;
    font-size: 16px;
    font-weight: 600;
    
}

.custom-btn-container {
    // width: 450px;
    * {
        color: white;
    }
    .active, .bg-success {
        // background-color: red;
        color: white;
    }
    .inactive, .bg-light, .bg-secondary {
        // background-color: grey;
        color: white;

    }
} 

.save-button {
    background-color: $orange;
    color:  white;
}

.cancel-button {
    background-color: red;
    color: $orange;
}

.disabled-stepper::-webkit-outer-spin-button,
.disabled-stepper::-webkit-inner-spin-button {
  display: none;
}