<div id="account-campaign-container"
     class="w-100">
  <form class="p-3 col-xl-8 ml-auto mr-auto"
        [formGroup]="campaignFormGrp">
    <!-- (submit)="saveOrUpdate()" -->

    <mat-accordion [multi]="true"
                   *ngIf="!!campaignFormGrp">
      <mat-expansion-panel *ngFor="let state of campaignForm.states; index as i"
                           (opened)="step = index"
                           [expanded]="step === index "
                           [ngClass]="{'bl-orange': step == index}">
        <mat-expansion-panel-header [class.form-error]="hasErrors(name)">
          <mat-panel-title>
            {{state.title}}
            <!-- Information de base -->
          </mat-panel-title>

          <mat-panel-description class="d-block">
            <span class="text-right d-block">
              {{state.description}}
              <!-- Nom de votre campagne -->
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container *ngFor="let field of state.fields; index as position">

          <app-form-field [hidden]="field.if ? execute(field.if): false" 
                          [formControlField]="campaignFormGrp.get(field.formControlName) ? campaignFormGrp.get(field.formControlName): null "
                          [label]="field.label ? field.label : null"
                          [component]="field.component"
                          [choicesButtonsParams]="field.choicesButtonsParams"
                          (change)="fieldChange($event, field.formControlName)"
                          [dateParams]="computeParams(field.dateParams)"></app-form-field>
        </ng-container>

      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
