<div id="dashboard-container" class="w-100 d-flex flex-row flex-wrap">


  <div class="w-100 pb-3 ">

    <mat-card class="mat-elevation-z8">
      <div class="chart-container" style="position: relative; height:250px; width:100%">
        <canvas id="myChart"></canvas>
      </div>
    </mat-card>
  </div>


  <div class="w-50 py-3 pl-3">
    <div class="mat-elevation-z8">

      <!-- <mat-card class="w-100">
      <h3>
          Mes campagnes
      </h3>
    </mat-card> -->
      <!-- <mat-card id="campaign-dashboard">
      <mat-card-title>
        Mes différentes campagnes
      </mat-card-title>
      <mat-card-content>
        <div class="alert alert-info" *ngIf="myCampaignsDataSource.length == 0">Vous n'avez créé aucune campagne pour
          le moment.</div> -->
      <table mat-table [dataSource]="myCampaignsDataSource" class="w-100">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="tips_count">
          <th mat-header-cell *matHeaderCellDef> Total MTips </th>
          <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1"> {{element.tips_count | number: '1.0-0' }} </td>
        </ng-container>
        <ng-container matColumnDef="tips_sum">
          <th mat-header-cell *matHeaderCellDef> Total euro </th>
          <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1"> {{element.tips_sum | currency: 'EUR': 'symbol': '1.2-2': 'fr'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="tips_count_month">
          <th mat-header-cell *matHeaderCellDef> MTips pour ce mois </th>
          <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1"> {{element.tips_count_month | number: '1.0-0' }} </td>
        </ng-container>
        <ng-container matColumnDef="tips_sum_month">
          <th mat-header-cell *matHeaderCellDef> Euro pour ce mois </th>
          <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1"> {{element.tips_sum_month | currency: 'EUR': 'symbol': '1.2-2':
            'fr'}} </td>
        </ng-container>
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> Date de création </th>
          <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1"> {{element.created_at | date : 'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> </th>

          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #appMenu="matMenu">
              <!-- <button mat-menu-item (click)="edit(element.id)">Editer</button> -->
              <button mat-menu-item (click)="viewGraph(element.id)">Voire le graphique détaillé</button>
              <button mat-menu-item (click)="edit(element.id)">Editer</button>
              <!-- <button mat-menu-item (click)="creditMyBalance(element.id)">Créditer mon solde</button> -->
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="noRows">
          <td colspan="7" *matFooterCellDef mat-footer-cell class="text-center">
            Vous n'avez pas encore de campagne.
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedCampaignColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedCampaignColumns;"
        [ngClass]="{'current-graph-line': !!currentCampaign && row.id == currentCampaign.id}"
        ></tr>

        <tr mat-footer-row *matFooterRowDef="['noRows']" [hidden]="myCampaignsDataSource.length > 0"></tr>

      </table>
      <!-- </mat-card-content>
    </mat-card> -->

    </div>
  </div>


  <div class="w-50 py-3 pl-3">
    <div class="mat-elevation-z8">

      <!-- <mat-card class=""> -->
      <!-- <mat-card-content> -->
      <!-- <div class="h4 mb-3 w-100">
        <div class="float-left">
          Mon solde actuel :
        </div>
        <div class="h2 float-right d-flex flex-row">
          <span class="mr-2">
            {{currentBalance }} &euro;
          </span>
          <div matTooltip="Le seuil de paiement minimum est de {{minBalance}} &euro;">
            <button mat-raised-button id="receive-payment-button" (click)="openDialg()" [ngClass]="{'btn-disabled': !balanceIsEnough() }"
              disabled="{{!balanceIsEnough()}}">Récuperer</button>
          </div>
        </div>
      </div> -->

      <!-- <br>
      <h4 class="w-100 d-flex">Mon historique de paiements</h4>
      <div class="alert alert-info" *ngIf="payoutsDataSource.length == 0">
        Vous n'avez pas encore effectué de paiment.
      </div>
      <div *ngIf="payoutsDataSource.length > 0" class=""> -->

      <table mat-table [dataSource]="payoutsDataSource" class="w-100">
        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef colspan="4">
            <div class="text-center m-0 p-0 h6">

              Mon historique de paiement
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Montant </th>
          <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1"> {{element.amount}} &euro;</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="method">
          <th mat-header-cell *matHeaderCellDef> Méthode </th>
          <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1"> {{element.method}} </td>
        </ng-container>
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> Date de création </th>
          <td mat-cell *matCellDef="let element" class="text-right pr-1 pl-1"> {{element.created_at | date : 'dd/MM/yyyy'}} </td>
        </ng-container>


        <!-- Disclaimer column -->
        <!-- <ng-container matColumnDef="disclaimer">
        <td mat-footer-cell *matFooterCellDef colspan="4">
          Please note that the cost of items displayed are completely and totally made up.
        </td>
      </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="['title']"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedPayoutColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedPayoutColumns;"></tr>

        <!-- <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr> -->

      </table>
      <mat-paginator [pageSize]="7" showFirstLastButtons></mat-paginator>

      <!-- </div> -->
      <!-- </mat-card-content> -->
      <!-- </mat-card> -->
    </div>

  </div>

  <button mat-fab class="advertising-fab-button" [routerLink]="['/account/campaign']" matTooltip="Créer une nouvelle campagne">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
  </button>

</div>
