@import "../../../variables.scss";

#dashboard-container {
  /* // position: absolute; */
}

#receive-payment-button {
  background-color: $orange;
  color: white;
  font-size: 18px;
  height: 41px;
  vertical-align: middle;
  // align-self: center;
  font-weight: 600;

  &.btn-disabled {
    background-color: gray;
  }
}

table {
  td {
    border-right: solid 1px rgba(0, 0, 0, 0.2);
  }

  & [mat-row] {
    &:nth-child(2n) {
      background-color: #efefef;
    }

    &:hover {
      background-color: #dddddd;
    }
  }
}

.current-graph-line {
  background-color: rgba(red($orange), green($orange), blue($orange), 0.15) !important;
}

.advertising-fab-button {
  position: fixed;
  right: 25px;
  bottom: 45px;
  background-color: $orange;
}
