<div class="advertising-order-container">
  <mat-card class="m-auto d-flex flex-wrap flex-column mt-5 mb-3">
    <mat-card-title class="font-weight-bold">
      Créditer votre compte
    </mat-card-title>

    <h5 class="mt-4">
      Résumé de votre annonce {{model.name}}
    </h5>
    <table class="mt-4">
      <tr>
        <td><i class="material-icons align-text-bottom mr-2">date_range</i></td>
        <td>
            Dates :
        </td>
        <td class="font-weight-bold">

            <span *ngIf="model.start_at">{{model.start_at | date: 'dd MMMM yyyy'}}</span>
            <span *ngIf="!model.start_at">Dès son approbation</span>
            <strong> - </strong>
            <span *ngIf="model.end_at"> {{model.end_at | date: 'dd MMMM yyyy'}}</span>
            <span *ngIf="!model.end_at"> Jusqu'à épuisement du solde</span>
            <span *ngIf="!!model.start_at && !!model.end_at"> soit {{getDaysFromTo(model.start_at,
              model.end_at).length}}
              jours </span>
        </td>
      </tr>
      <tr>
        <td>
          <i class="material-icons align-text-bottom mr-2">explore</i>
        </td>

        <td>
          Pays :
        </td>

        <td>
          <ng-container *ngFor="let country of model.countries">
            <strong>{{country.name}}</strong>,
          </ng-container>
        </td>
      </tr>

      <tr>
        <td>
          <i class="material-icons align-text-bottom mr-2">language</i>
        </td>
        <td>
          Langues :
        </td>
        <td>
          <ng-container *ngFor="let language of model.languages">
            <strong>{{language.name}}</strong>,
          </ng-container>
        </td>
      </tr>

      <tr>
        <td>
          <i class="material-icons align-text-bottom mr-2">touch_app</i>
        </td>
        <td>
          Vues:
        </td>
        <td>
          <strong>{{model.target_view | number: '1.0-0'}} {{model.target_view_per_day ? ' par jour' : ' au
            total'}}</strong>
        </td>
      </tr>

      <tr>
        <td>
          <i class="material-icons align-text-bottom mr-2">monetization_on</i>
        </td>
        <td nowrap>
          CPV max :
        </td>
        <td>
          <strong>{{model.cost_per_view | currency:'EUR':'symbol':'1.2-2':'fr'}}</strong>
        </td>
      </tr>


      <tr>
        <td>
          <i class="material-icons">
            flag
            </i>
        </td>
        <td>
          Nom :
        </td>
        <td>
          {{model.name}}
        </td>
      </tr>

      <tr>
        <td>
          <i class="material-icons">
            theaters
            </i>
        </td>
        <td>
          Thèmes :
        </td>
        <td>
          <strong *ngFor="let category of model.categories">{{category.name}}, </strong>
        </td>
      </tr>

      <tr>
        <td>
          <i class="material-icons">
            people
            </i>
        </td>
        <td>
          Audiences
        </td>
        <td>
          <strong *ngFor="let audience of model.audiences">{{audience.name}}, </strong>
        </td>
      </tr>

    </table>

    <!-- <p class="">
      <i class="material-icons align-text-bottom mr-2">date_range</i>

      <span class="text-black-50">
        Dates:
      </span>
      <b>

        <span *ngIf="model.start_at">{{model.start_at | date: 'dd MMMM yyyy'}}</span>
        <span *ngIf="!model.start_at">Dès son approbation</span>
        <strong> - </strong>
        <span *ngIf="model.end_at"> {{model.end_at | date: 'dd MMMM yyyy'}}</span>
        <span *ngIf="!model.end_at"> Jusqu'à épuisement du solde</span>
        <span *ngIf="!!model.start_at && !!model.end_at"> soit {{getDaysFromTo(model.start_at, model.end_at).length}}
          jours </span>
      </b>

    </p>


    <div>

      <p>
        <i class="material-icons align-text-bottom mr-2">explore</i>
        <span>Pays:
          <ng-container *ngFor="let country of model.countries">
            <strong>{{country.name}}</strong>,
          </ng-container>
        </span>
      </p>

      <p>
        <i class="material-icons align-text-bottom mr-2">language</i>
        <span>Langues:
          <ng-container *ngFor="let language of model.languages">
            <strong>{{language.name}}</strong>,
          </ng-container>
        </span>
      </p>
    </div>

    <p class="">
      <i class="material-icons align-text-bottom mr-2">touch_app</i>
      <span>Vues: <strong>{{model.target_view | number: '1.0-0'}} {{model.target_view_per_day ? ' par jour' : ' au
          total'}}</strong>
      </span>
    </p>

    <p class="">
      <i class="material-icons align-text-bottom mr-2">monetization_on</i>
      <span>CPV max: <strong>{{model.cost_per_view | currency:'EUR':'symbol':'1.2-2':'fr'}}</strong></span>
    </p>


    <p>
      Nom: <b>{{model.name}}</b>
    </p>
    <div class="d-flex mb-3">
      <div class="mr-3">
        Thèmes:
      </div>
      <div>
        <strong *ngFor="let category of model.categories">{{category.name}}, </strong>
      </div>
    </div>

    <div class="d-flex flex-wrap mb-2">
      <img [src]="model?.thumbnail_media?.file"
           width="120"
           height="80" />
      <p class="ml-2 align-bottom align-self-end align-content-end d-block">
        <span>
          Nom: <b>{{model.name}}</b>
        </span> <br>
        <span>
          Durée: <b>{{model.video_media?.duration}} secondes</b>
        </span>
      </p> <br>
    </div> -->

    <mat-form-field class="mt-4">
      <mat-label>
        Pourcentage du budget (estimé) de la campagne que vous souhaité régler
      </mat-label>
      <mat-select [(ngModel)]="toPayRate"
                  (selectionChange)="updateEstimation()">
        <mat-option *ngFor="let percent of percentList"
                    [value]="percent">{{percent}} %</mat-option>
      </mat-select>
    </mat-form-field>

    <p class="mt-4">
      Choisisez une méthode de paiement
    </p>
    <app-choices-button [onTrue]="'Je paye pas carte bancaire ou par Paypal'"
                        [onFalse]="'Je paye par virement bancaire'"
                        [isTrue]="paypalPayment"
                        (changed)="updatePaymentMethod($event)"></app-choices-button>

    <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" *ngIf="isTotallyPaid && isTrue">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="S5BYX57CDT5NL">
      <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_paynowCC_LG.gif" border="0" name="submit"
        alt="PayPal, le réflexe sécurité pour payer en ligne">
      <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
    </form> -->



    <p>
      En créditant votre compte de la somme de {{amountToPay | currency:'EUR':'symbol':'1.2-2':'fr' }},
      vous obtiendrez environ {{estimatedView | number: '1.0-0'}} vues
    </p>

    <div class="alert alert-info">
      Le nombre de vue annoncé ici est une estimation et le résultat final au terme de la compagne peut
      soit vous revenir moins chère
      (dans ce cas vous pourrez demander un remboursement des sommes restantes à notre service client),
      soit vous revenir plus chère (auquel cas vous devrez de nouveau créditer votre compte).
    </div>


    <button mat-button
            id="paypal-button"
            *ngIf="paypalPayment && touched"></button>

    <button mat-button
            *ngIf="!paypalPayment && touched">Recevoir les informations bancaire de Meetips.fr</button>

  </mat-card>
</div>
