@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

.advertising-order-container {
  mat-card {
    max-width: 740px;
  }
}

table td {
    vertical-align: top;
    padding-bottom: 1.5rem;
}

table td:nth-child(2) {
  padding-left: 8px;
  padding-right: 12px;
}

table td:nth-child(3) {
  font-weight: 700;
}

@include media-breakpoint-up(lg) {}
